.acknowledgment-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acknowledgment-box {
    position: absolute;
    width: 600px;
    height: 300px;
    background-color: #faf8f5;
    border-radius: 25px;
    padding: 1rem;
}

.acknowledgment-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    color: #018f73;
    font-family: "Roboto", sans-serif;
    pointer-events: none;
    font-size: 1rem;
}

.acknowledgment-content {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 55%;
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
}

.acknowledgment-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
}

/* From Uiverse.io by vinodjangid07 */
.Btn {
    position: relative;
    width: 150px;
    height: 55px;
    border-radius: 45px;
    border: none;
    background-color: rgb(0, 189, 150);
    color: white;
    box-shadow: 0px 10px 10px rgb(4, 239, 189) inset,
    0px 5px 10px rgba(5, 5, 5, 0.212),
    0px -10px 10px #00604e inset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
}

.Btn::before {
    width: 70%;
    height: 2px;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.678);
    content: "";
    filter: blur(1px);
    top: 7px;
    border-radius: 50%;
}

.Btn::after {
    width: 70%;
    height: 2px;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.137);
    content: "";
    filter: blur(1px);
    bottom: 7px;
    border-radius: 50%;
}

.Btn:hover {
    animation: jello-horizontal 1s both;
}

@keyframes jello-horizontal {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

@media (max-width: 1200px) {
    .acknowledgment-box {
        width: 550px;
        height: 275px;
        border-radius: 20px;
    }

    .acknowledgment-title {
        font-size: 0.9rem;
    }

    .acknowledgment-content {
        font-size: 1rem;
    }

    .Btn {
        width: 120px;
        height: 44px;
        font-size: 0.8rem;
    }
}


@media (max-width: 1300px) and (min-width: 901px) {
    .acknowledgment-box {
        width: 530px;
        height: 220px;
        border-radius: 25px;
        padding: 12px;
    }

    .acknowledgment-title {
        font-size: 0.9rem;
    }

    .acknowledgment-content {
        height: 55%;
        font-size: 1rem;
    }

    .acknowledgment-button {
        height: 25%;
    }

    .Btn {
        width: 150px;
        height: 40px;
        font-size: 0.9rem;
    }

    .Btn::before {
        height: 1px;
        top: 7px;
    }

    .Btn::after {
        height: 1px;
        bottom: 7px;
    }
}

@media (max-width: 900px) and (min-width: 751px) {
    .acknowledgment-box {
        width: 550px;
        height: 250px;
        border-radius: 25px;
        padding: 12px;
    }

    .acknowledgment-title {
        font-size: 0.9rem;
    }

    .acknowledgment-content {
        height: 55%;
        font-size: 1rem;
    }

    .acknowledgment-button {
        height: 25%;
    }

    .Btn {
        width: 150px;
        height: 40px;
        font-size: 0.9rem;
    }

    .Btn::before {
        height: 1px;
        top: 7px;
    }

    .Btn::after {
        height: 1px;
        bottom: 7px;
    }
}

@media (max-width: 750px) and (min-width: 600px) {
    .acknowledgment-box {
        width: 550px;
        height: 220px;
        border-radius: 25px;
        padding: 12px;
    }

    .acknowledgment-title {
        font-size: 0.9rem;
    }

    .acknowledgment-content {
        height: 55%;
        font-size: 1rem;
    }

    .acknowledgment-button {
        height: 25%;
    }

    .Btn {
        width: 150px;
        height: 40px;
        font-size: 0.9rem;
    }

    .Btn::before {
        height: 1px;
        top: 7px;
    }

    .Btn::after {
        height: 1px;
        bottom: 7px;
    }
}

@media (max-width: 600px) and (min-width: 501px) {
    .acknowledgment-box {
        width: 450px;
        height: 200px;
        border-radius: 25px;
        padding: 10px;
    }

    .acknowledgment-title {
        font-size: 0.85rem;
    }

    .acknowledgment-content {
        height: 55%;
        font-size: 0.82rem;
    }

    .acknowledgment-button {
        height: 25%;
    }

    .Btn {
        width: 120px;
        height: 35px;
        font-size: 0.8rem;
    }

    .Btn::before {
        height: 1px;
        top: 6px;
    }

    .Btn::after {
        height: 1px;
        bottom: 6px;
    }
}

@media (max-width: 500px) and (min-width: 401px) {
    .acknowledgment-box {
        width: 350px;
        height: 150px;
        border-radius: 20px;
        padding: 10px;
    }

    .acknowledgment-title {
        font-size: 0.65rem;
    }

    .acknowledgment-content {
        height: 55%;
        font-size: 0.65rem;
    }

    .acknowledgment-button {
        height: 25%;
    }

    .Btn {
        width: 90px;
        height: 25px;
        font-size: 0.6rem;
    }

    .Btn::before {
        top: 4px;
    }

    .Btn::after {
        bottom: 4px;
    }
}

@media (max-width: 400px) and (min-width: 300px) {
    .acknowledgment-box {
        width: 180px;
        height: 100px;
        border-radius: 20px;
        padding: 5px;
    }

    .acknowledgment-title {
        font-size: 0.45rem;
    }

    .acknowledgment-content {
        height: 55%;
        font-size: 0.4rem;
    }

    .acknowledgment-button {
        height: 25%;
    }

    .Btn {
        width: 60px;
        height: 15px;
        font-size: 0.4rem;
    }
}