.card-display-section-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 15px;
}

.card-section-heading {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    font-size: 2rem;
    border-bottom: 1px solid #363636;
    color: #faf8f5;
}

.card-section-content {
    width: 100%;
    height: 85%;
    position: relative;
}

.card-bar {
    width: 100%;
    height: calc(100% / 8);
    border-bottom: 1px solid rgba(56, 56, 56, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    font-family: "Nunito", sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
}

.card-bar h1 {
    color: #fdc663;
    pointer-events: none;
}

.popup-image-container {
    position: absolute;
    border-radius: 10px;
    width: 360px;
    height: 290px;
    border: 10px solid #202a30;
    display: flex;
    justify-content: center;
    background-color: #202a30;
    transform: scale(0.2);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
}

.popup-image-container.visible {
    opacity: 1;
    transform: scale(1);
}

.popup-image-container.hidden {
    opacity: 0;
    transform: scale(0.2);
}

.popup-image-slider-container {
    position: absolute;
}

.popup-slider-image {
    width: 340px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.popup-image-container img {
    width: 340px;
    height: 240px;
    object-fit: cover;
    object-position: center;
}

.popup-image-text {
    width: 340px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #124e65;
    background-color: #d4d9d5;
}

