.resume-navbar {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #00396e 70%, #a90027 100%);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.resume-nav-items {
    padding: 10px;
}

.resume-listing-items {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}


.resume-nav-list-item a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    margin: 0 15px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.resume-nav-list-item a:hover {
    border-bottom:  2px solid #ff9f1c;
    color: #0E182A;
}