.resume-navbar {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f272f;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.resume-nav-items {
    padding: 10px;
}

.resume-listing-items {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}


.resume-nav-list-item a {
    text-decoration: none;
    color: #0066c1;
    padding: 10px;
    margin: 0 15px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.resume-nav-list-item a:hover {
    border-bottom:  2px solid #a90027;
    color: #a90027;
}

@media (max-width: 1600px) and (min-width: 1300px) {
    .resume-nav-items {
        padding: 9px;
    }

    .resume-nav-list-item a {
        padding: 10px;
        margin: 0 15px;
        font-size: 0.9rem;
    }
}

@media (max-width: 1299px) and (min-width: 1100px) {
    .resume-nav-items {
        padding: 9px;
    }

    .resume-nav-list-item a {
        padding: 9px;
        margin: 0 14px;
        font-size: 0.85rem;
    }
}

@media (max-width: 1099px) and (min-width: 900px) {

    .resume-navbar {
        height: 80px;
    }
    .resume-nav-items {
        padding: 8px;
    }

    .resume-nav-list-item a {
        padding: 8px;
        margin: 0 12px;
        font-size: 0.8rem;
    }
}

@media (max-width: 899px) and (min-width: 750px) {

    .resume-navbar {
        height: 70px;
    }
    .resume-nav-items {
        padding: 8px;
    }

    .resume-nav-list-item a {
        padding: 8px;
        margin: 0 10px;
        font-size: 0.75rem;
    }
}

@media (max-width: 749px) and (min-width: 600px) {

    .resume-navbar {
        height: 70px;
    }
    .resume-nav-items {
        padding: 6px;
    }

    .resume-nav-list-item a {
        padding: 8px;
        margin: 0 8px;
        font-size: 0.7rem;
    }
}