.service-display-section {
    width: 100%;
    height: 100%;
    background-color: #161c21;
    overflow-y: scroll;
    scrollbar-width: none;
    position: relative;
}

.service-display-heading {
    font-family: "Roboto", sans-serif;
    width: 90%;
    height: 10%;
    color: #00bd96;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.service-slideshow {
    width: 90%;
    height: 40%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.service-slide {
    min-width: calc((100% - 8rem)/5);
    height: 85%;
    background-color: #1f272f;
    margin: 0 1rem;
    border-radius: 15px;
    box-shadow: 0 -0.1rem 0.7rem 0 rgba(0, 189, 150, 0.4);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    scroll-snap-align: center;
}

.service-slide:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 189, 150, 0.6);
}

.slide-top-image {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-top-image img {
    width: 60px;
    height: 60px;
}

.slide-content {
    width: 100%;
    height: 70%;
    padding: 0 10px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: #faf8f5;
}

.slide-content h3 {
    color: #00bd96;
    width: 100%;
    height: 20%;
}

.slide-content p {
    width: 100%;
    height: 50%;
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
}

.convincing-details {
    width: 100%;
    height: 50%;
    display: flex;
}

.convincing-infographics {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.convincing-infographics-gradient {
    width: 70%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00bd96;
    filter: blur(50px);
    opacity: 0.3;
}

.layout-sample-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.layout-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(65deg) skew(25deg, -35deg);
    width: 600px;
    height: 600px;
    border: 1px solid #007861;
    border-radius: 50%;
}

.layout-sample {
    width: 200px;
    height: 150px;
    border-radius: 15px;
    overflow: hidden;
    transform:skewY(-15deg);
}

.layout-sample img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sample-one {
    position: absolute;
    top: 35%;
    left: 69%;
}

.sample-two {
    position: absolute;
    top: 51%;
    left: 42%;
}

.sample-three {
    position: absolute;
    top: 17%;
    left: 74%;
}

.sample-four {
    position: absolute;
    top: 33%;
    left: 47%;
}

.sample-five {
    position: absolute;
    top: 49%;
    left: 20%;
}

.sample-six {
    position: absolute;
    top: 7%;
    left: 64%;
}

.sample-seven {
    position: absolute;
    top: 23%;
    left: 37%;
}

.sample-eight {
    position: absolute;
    top: 39%;
    left: 10%;
}

.sample-nine {
    position: absolute;
    top: 8%;
    left: 38%;
}

.sample-ten {
    position: absolute;
    top: 23%;
    left: 11%;
}















.convincing-text {
    width: 50%;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.convincing-text-heading {
    width: 100%;
    height: 20%;
    padding-left: 35px;
    color: #00bd96;
    display: flex;
    justify-content: start;
    align-items: end;
}

.convincing-text-content {
    color: #faf8f5;
    font-family: "Nunito", sans-serif;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
}