.service-display-section-container {
    width: 100%;
    height: 955px;
    background-color: #161c21;
}
.service-display-section {
    margin: 0 auto;
    width: 1900px;
    height: 955px;
    background-color: #161c21;
    position: relative;
}

.service-display-heading {
    font-family: "Roboto", sans-serif;
    width: 90%;
    height: 10%;
    color: #00bd96;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}

.service-slideshow {
    width: 90%;
    height: 40%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.service-slide {
    min-width: calc((100% - 8rem)/5);
    height: 85%;
    background-color: #1f272f;
    margin: 0 1rem;
    border-radius: 15px;
    box-shadow: 0 -0.1rem 0.7rem 0 rgba(0, 189, 150, 0.4);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.service-slide:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 189, 150, 0.6);
}

.slide-top-image {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-top-image img {
    width: 60px;
    height: 60px;
}

.slide-content {
    width: 100%;
    height: 70%;
    padding: 0 10px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: #faf8f5;
}

.slide-content h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    color: #00bd96;
    width: 100%;
    height: 20%;
}

.slide-content p {
    width: 100%;
    height: 50%;
    font-family: "Nunito", sans-serif;
    font-size: 1.1rem;
}

.convincing-details {
    width: 100%;
    height: 50%;
    display: flex;
}

.convincing-infographics {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.convincing-infographics-gradient {
    width: 70%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00bd96;
    filter: blur(50px);
    opacity: 0.3;
}

.layout-sample-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.layout-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(65deg) skew(25deg, -35deg);
    width: 600px;
    height: 600px;
    border: 1px solid #007861;
    border-radius: 50%;
}

.layout-sample {
    width: 220px;
    height: 165px;
    border-radius: 15px;
    overflow: hidden;
    transform:skewY(-15deg);
}

.layout-sample img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sample-one {
    position: absolute;
    top: 37%;
    left: 67%;
    z-index: 4;
    animation: one-to-ten 2s ease-in-out;
    animation-delay: 1s;
}

@keyframes one-to-ten {
    0% {
        top: 37%;
        left: 67%;
        opacity: 1;
    }
    50% {
        opacity: 0;
        top: 17%;
        left: 100%;
    }
    51%{
        z-index: 1;
        opacity: 0;
        top: -8%;
        left: 65%;
    }
    100% {
        z-index: 1;
        opacity: 1;
        top: 10%;
        left: 36%;
    }
}

.sample-two {
    position: absolute;
    top: 51%;
    left: 42%;
    z-index: 4;
    animation: two-to-one 2s ease-in-out;
    animation-delay: 1s;
}

@keyframes two-to-one {
    0% {
        top: 51%;
        left: 42%;
    }
    100% {
        top: 37%;
        left: 67%;
    }
}

.sample-three {
    position: absolute;
    top: 49%;
    left: 20%;
    z-index: 3;
    animation: three-to-two 2s ease-in-out;
    animation-delay: 1s;
}

@keyframes three-to-two {
    0% {
        top: 49%;
        left: 20%;
    }
    90% {
        z-index: 4;
    }
    100% {
        z-index: 4;
        top: 51%;
        left: 42%;
    }
}

.sample-four {
    position: absolute;
    top: 35%;
    left: 45%;
    z-index: 3;
    animation: four-to-three 2s ease-in-out;
    animation-delay: 1s;
}

@keyframes four-to-three {
    0% {
        top: 35%;
        left: 45%;
    }
    100% {
        top: 49%;
        left: 20%;
    }
}

.sample-five {
    position: absolute;
    top: 21%;
    left: 70%;
    z-index: 3;
    animation: five-to-four 2s ease-in-out;
    animation-delay: 1s;
}

@keyframes five-to-four {
    0% {
        top: 21%;
        left: 70%;
    }
    100% {
        top: 35%;
        left: 45%;
    }
}

.sample-six {
    position: absolute;
    top: 11%;
    left: 60%;
    z-index: 2;
    animation: six-to-five 2s ease-in-out;
    animation-delay: 1s;
}

@keyframes six-to-five {
    0% {
        top: 11%;
        left: 60%;
    }
    90% {
        z-index: 3;
    }
    100% {
        z-index: 3;
        top: 21%;
        left: 70%;
    }
}

.sample-seven {
    position: absolute;
    top: 25%;
    left: 35%;
    z-index: 2;
    animation: seven-to-six 2s ease-in-out;
    animation-delay: 1s;
}

@keyframes seven-to-six {
    0% {
        top: 25%;
        left: 35%;
    }
    100% {
        top: 11%;
        left: 60%;
    }
}

.sample-eight {
    position: absolute;
    top: 39%;
    left: 10%;
    z-index: 2;
    animation: eight-to-seven 2s ease-in-out;
    animation-delay: 1s;
}

@keyframes eight-to-seven {
    0% {
        top: 39%;
        left: 10%;
    }
    100% {
        top: 25%;
        left: 35%;
    }
}

.sample-nine {
    position: absolute;
    top: 23%;
    left: 11%;
    z-index: 1;
    animation: nine-to-eight 2s ease-in-out;
    animation-delay: 1s;
}

@keyframes nine-to-eight {
    0% {
        top: 23%;
        left: 11%;
    }
    90% {
        z-index: 2;
    }
    100% {
        z-index: 2;
        top: 39%;
        left: 10%;
    }
}

.sample-ten {
    position: absolute;
    top: 10%;
    left: 36%;
    z-index: 1;
    animation: ten-to-nine 2s ease-in-out;
    animation-delay: 1s;
}

@keyframes ten-to-nine {
    0% {
        top: 10%;
        left: 36%;
    }
    100% {
        top: 23%;
        left: 11%;
    }
}

.convincing-text {
    width: 50%;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.convincing-text-heading {
    width: 100%;
    height: 20%;
    padding-left: 35px;
    color: #00bd96;
    display: flex;
    justify-content: start;
    align-items: end;
    font-size: 1.3rem;
}

.convincing-text-content {
    color: #faf8f5;
    font-family: "Nunito", sans-serif;
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    flex-direction: column;
    padding: 0 3.5rem;
    font-size: 1.3rem;
}

/* Styles for responsiveness*/

@media (max-width: 1900px) and (min-width: 1600px) {
    .service-display-section-container {
        height: 820px;
    }

    .service-display-section {
        width: 1580px;
        height: 100%;
    }

    .service-display-heading {
        font-size: 1.5rem;
    }

    .service-slideshow {
        width: 95%;
    }

    .service-slide {
        min-width: calc((100% - 6rem)/5);
    }

    .slide-top-image img {
        width: 55px;
        height: 55px;
    }

    .slide-content h2 {
        font-size: 1.5rem;
    }

    .slide-content p {
        font-size: 1rem;
    }

    .convincing-text-heading {
        font-size: 1.2rem;
    }

    .convincing-text-content {
        font-size: 1.2rem;
        height: 70%;
    }

    .layout-sample {
        width: 205px;
        height: calc((205px/4)*3);
    }

    .sample-one {
        position: absolute;
        top: 37%;
        left: 67%;
        z-index: 4;
        animation: one-to-ten 2s ease-in-out;
        animation-delay: 1s;
    }

    @keyframes one-to-ten {
        0% {
            top: 37%;
            left: 67%;
            opacity: 1;
        }
        50% {
            opacity: 0;
            top: 17%;
            left: 100%;
        }
        51%{
            z-index: 1;
            opacity: 0;
            top: -8%;
            left: 65%;
        }
        100% {
            z-index: 1;
            opacity: 1;
            top: 10%;
            left: 34%;
        }
    }

    .sample-two {
        position: absolute;
        top: 51%;
        left: 39%;
        z-index: 4;
        animation: two-to-one 2s ease-in-out;
        animation-delay: 1s;
    }

    @keyframes two-to-one {
        0% {
            top: 51%;
            left: 39%;
        }
        100% {
            top: 37%;
            left: 67%;
        }
    }

    .sample-three {
        position: absolute;
        top: 49%;
        left: 14%;
        z-index: 3;
        animation: three-to-two 2s ease-in-out;
        animation-delay: 1s;
    }

    @keyframes three-to-two {
        0% {
            top: 49%;
            left: 14%;
        }
        90% {
            z-index: 4;
        }
        100% {
            z-index: 4;
            top: 51%;
            left: 39%;
        }
    }

    .sample-four {
        position: absolute;
        top: 35%;
        left: 42%;
        z-index: 3;
        animation: four-to-three 2s ease-in-out;
        animation-delay: 1s;
    }

    @keyframes four-to-three {
        0% {
            top: 35%;
            left: 42%;
        }
        100% {
            top: 49%;
            left: 14%;
        }
    }

    .sample-five {
        position: absolute;
        top: 21%;
        left: 70%;
        z-index: 3;
        animation: five-to-four 2s ease-in-out;
        animation-delay: 1s;
    }

    @keyframes five-to-four {
        0% {
            top: 21%;
            left: 70%;
        }
        100% {
            top: 35%;
            left: 42%;
        }
    }

    .sample-six {
        position: absolute;
        top: 11%;
        left: 60%;
        z-index: 2;
        animation: six-to-five 2s ease-in-out;
        animation-delay: 1s;
    }

    @keyframes six-to-five {
        0% {
            top: 11%;
            left: 60%;
        }
        90% {
            z-index: 3;
        }
        100% {
            z-index: 3;
            top: 21%;
            left: 70%;
        }
    }

    .sample-seven {
        position: absolute;
        top: 25%;
        left: 32%;
        z-index: 2;
        animation: seven-to-six 2s ease-in-out;
        animation-delay: 1s;
    }

    @keyframes seven-to-six {
        0% {
            top: 25%;
            left: 32%;
        }
        100% {
            top: 11%;
            left: 60%;
        }
    }

    .sample-eight {
        position: absolute;
        top: 39%;
        left: 4%;
        z-index: 2;
        animation: eight-to-seven 2s ease-in-out;
        animation-delay: 1s;
    }

    @keyframes eight-to-seven {
        0% {
            top: 39%;
            left: 4%;
        }
        100% {
            top: 25%;
            left: 32%;
        }
    }

    .sample-nine {
        position: absolute;
        top: 24%;
        left: 6%;
        z-index: 1;
        animation: nine-to-eight 2s ease-in-out;
        animation-delay: 1s;
    }

    @keyframes nine-to-eight {
        0% {
            top: 24%;
            left: 6%;
        }
        90% {
            z-index: 2;
        }
        100% {
            z-index: 2;
            top: 39%;
            left: 4%;
        }
    }

    .sample-ten {
        position: absolute;
        top: 10%;
        left: 34%;
        z-index: 1;
        animation: ten-to-nine 2s ease-in-out;
        animation-delay: 1s;
    }

    @keyframes ten-to-nine {
        0% {
            top: 10%;
            left: 34%;
        }
        100% {
            top: 24%;
            left: 6%;
        }
    }
}