.mobile-section {
    height: 950px;
    width: 100%;
    background-color: #1f272f;
    overflow: hidden;
}

.mobile-content-container {
    margin: 0 auto;
    height: 100%;
    width: 1890px;
}

.mobile-section-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    color: #00bd96;
}

.mobile-section-tobe {
    width: 100%;
    height: 40%;
    background-color: #ff719c;
}

.first-mobile-content {
    margin: 0 auto;
    width: 90%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mobile-content {
    width: 50%;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.mobile-content-heading {
    color: #00bd96;
    height: 20%;
    display: flex;
    align-items: end;
    font-size: 1.5rem;
}

.mobile-content-text {
    color: #faf8f5;
    height: 70%;
    font-size: 1.2rem;
    font-family: "Nunito", sans-serif;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}