.mobile-section {
    height: 950px;
    width: 100%;
    background-color: #1f272f;
    overflow: hidden;
}

.mobile-content-container {
    margin: 0 auto;
    height: 100%;
    width: 1890px;
}

.mobile-section-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    color: #00bd96;
}

.mobile-reasons-section {
    width: 100%;
    height: 40%;
}

.mobile-reasons-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.mobile-reason {
    width: 520px;
    height: 40%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #1f272f;
    box-shadow: -5px -5px 10px #37464e, 5px 5px 10px #081215;
    cursor: default;
    transition: 0.3s ease-in-out;
}

.mobile-reason:hover {
    transform: scale(1.05);
    box-shadow: -10px -10px 20px #37464e, 10px 10px 20px #081215;
}

.reason-image {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reason-image img {
    width: 60px;
    height: 60px;
}

.reason-content {
    width: 75%;
    height: 100%;
    padding: 0 1rem;
}

.reason-heading {
    width: 100%;
    height: 30%;
    font-family: "Roboto", sans-serif;
    color: #00bd96;
    display: flex;
    align-items: end;
    justify-content: start;
    font-size: 1rem;
}

.reason-description {
    width: 100%;
    height: 70%;
    font-family: "Nunito", sans-serif;
    color: #faf8f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.mobile-section-content {
    margin: 0 auto;
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mobile-content {
    width: 50%;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.mobile-content-heading {
    color: #00bd96;
    height: 25%;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 1.5rem;
}

.mobile-content-text {
    color: #faf8f5;
    height: 60%;
    font-size: 1.1rem;
    font-family: "Nunito", sans-serif;
    padding-right: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}