.task-container {
    width: 90%;
    height: 70px;
    background-color: #ffe9ca;
    border-radius: 10px;
    margin: 10px auto;
    display: flex;
    font-family: "Nunito", sans-serif;
}

.task-information {
    width: 60%;
    height: 100%;
    position: relative;
}

.task-title {
    width: 100%;
    height: 30%;
    display: flex;
}

.task-heading {
    width: 60%;
    height: 100%;
    font-weight: bold;
    font-size: 0.6rem;
    /*background-color: #a90027;*/
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.task-title-divider {
    width: 5%;
    height: 100%;
    border-right: 1px solid #f3ad7e;
    transform: rotate(30deg) translate(-50%);
}

.task-price {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 0.8rem;
    color: #c1806f;
    font-weight: bold;
}

.task-duration {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 35%;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bold;
}

.task-date {
    width: 40%;
    color: #c1806f;
    padding-left: 5px;
}

.task-duration-divider {
    width: 5%;
    height: 100%;
    border-right: 1px solid #f3ad7e;
    transform: rotate(30deg) translate(-50%);
}

.task-time {
    text-align: center;
    width: 55%;
    color: #230000;
}

.task-progress {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 70%;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.total-percentage {
    position: relative;
    width: 60%;
    background: #f8cd87;
    height: 5px;
    border-radius: 5px;
}

.progress-percentage {
    position: absolute;
    background: #803e00;
    height: 5px;
    border-radius: 5px;
}

.task-weeks {
    width: 40%;
    text-align: center;
    color: #c1806f;
    font-size: 0.7rem;
}

.task-members {
    width: 40%;
    height: 100%;
    font-weight: bold;
    font-size: 0.8rem;
    overflow: hidden;
    text-align: end;
    padding: 0 5px;
}

.member img {
    width: 30%;
}

.member {
    display: flex;
    align-content: center;
    justify-content: end;
    flex-wrap: wrap;
}

@media (max-width: 1599px) and (min-width: 1300px) {
    .task-container {
        height: 65px;
    }

    .task-heading {
        font-size: 8px;
        padding-left: 5px;
    }

    .task-title-divider {
        transform: rotate(25deg) translate(-50%);
    }

    .task-price {
        font-size: 10px;
    }

    .task-duration {
        font-size: 10px;
    }

    .task-duration-divider {
        transform: rotate(25deg) translate(-50%);
    }

    .total-percentage {
        height: 4px;
    }

    .progress-percentage {
        height: 4px;
    }

    .task-weeks {
        font-size: 8px;
    }
}

@media (max-width: 1299px) and (min-width: 1100px) {
    .task-container {
        height: 60px;
    }

    .task-information {
        width: 70%;
    }

    .task-heading {
        font-size: 8px;
        padding-left: 3px;
    }

    .task-title-divider {
        transform: rotate(20deg) translate(-50%);
    }

    .task-price {
        font-size: 9px;
    }

    .task-duration {
        font-size: 9px;
    }

    .task-duration-divider {
        transform: rotate(20deg) translate(-50%);
    }

    .total-percentage {
        height: 4px;
    }

    .progress-percentage {
        height: 4px;
    }

    .task-weeks {
        font-size: 8px;
    }

    .task-members {
        width: 30%;
        font-size: 8px;
        padding: 3px;
        text-align: center;
    }

    .member img {
        width: 35%;
    }

    .member {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 1099px) and (min-width: 900px) {
    .task-container {
        height: 55px;
    }

    .task-information {
        width: 70%;
    }

    .task-heading {
        font-size: 7px;
        padding-left: 3px;
    }

    .task-title-divider {
        transform: rotate(20deg) translate(-50%);
    }

    .task-price {
        font-size: 8px;
    }

    .task-duration {
        font-size: 8px;
    }

    .task-duration-divider {
        transform: rotate(20deg) translate(-50%);
    }

    .total-percentage {
        height: 4px;
    }

    .progress-percentage {
        height: 4px;
    }

    .task-weeks {
        font-size: 7px;
    }

    .task-members {
        width: 30%;
        font-size: 7px;
        padding: 2px;
        text-align: center;
    }

    .member img {
        width: 35%;
    }

    .member {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 899px) and (min-width: 750px) {
    .task-container {
        border-radius: 7px;
        height: 45px;
    }

    .task-information {
        width: 65%;
    }

    .task-heading {
        font-size: 5px;
        padding-left: 3px;
    }

    .task-title-divider {
        transform: rotate(20deg) translate(-50%);
    }

    .task-price {
        font-size: 6px;
    }

    .task-duration {
        font-size: 6px;
    }

    .task-duration-divider {
        transform: rotate(20deg) translate(-50%);
    }

    .task-progress {
        padding: 0 2px;
    }

    .total-percentage {
        width: 50%;
        height: 3px;
    }

    .progress-percentage {
        width: 50%;
        height: 3px;
    }

    .task-weeks {
        width: 50%;
        font-size: 7px;
    }

    .task-members {
        width: 35%;
        font-size: 7px;
        padding: 2px;
        text-align: center;
    }

    .member img {
        width: 30%;
    }

    .member {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 749px) and (min-width: 601px) {
    .task-container {
        border-radius: 5px;
        height: 35px;
        margin: 5px auto;
    }

    .task-information {
        width: 65%;
    }

    .task-heading {
        font-size: 4px;
        padding-left: 2px;
    }

    .task-title-divider {
        transform: rotate(20deg) translate(-50%);
    }

    .task-price {
        font-size: 5px;
    }

    .task-duration {
        font-size: 5px;
    }

    .task-duration-divider {
        transform: rotate(20deg) translate(-50%);
    }

    .task-progress {
        padding: 0 2px;
    }

    .total-percentage {
        width: 50%;
        height: 2px;
    }

    .progress-percentage {
        width: 50%;
        height: 2px;
    }

    .task-weeks {
        width: 50%;
        font-size: 6px;
    }

    .task-members {
        width: 35%;
        font-size: 6px;
        padding: 2px;
        text-align: center;
    }

    .member img {
        height: 30%;
    }

    .member {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) and (min-width: 500px) {
    .task-container {
        border-radius: 8px;
        height: 40px;
        margin: 5px auto;
    }

    .task-information {
        width: 65%;
    }

    .task-heading {
        font-size: 6px;
        padding-left: 2px;
    }

    .task-title-divider {
        transform: rotate(20deg) translate(-50%);
    }

    .task-price {
        font-size: 7px;
    }

    .task-duration {
        font-size: 7px;
    }

    .task-duration-divider {
        transform: rotate(20deg) translate(-50%);
    }

    .task-progress {
        padding: 0 2px;
    }

    .total-percentage {
        width: 50%;
        height: 3px;
    }

    .progress-percentage {
        width: 50%;
        height: 3px;
    }

    .task-weeks {
        width: 50%;
        font-size: 7px;
    }

    .task-members {
        width: 35%;
        font-size: 6px;
        padding: 2px;
        text-align: center;
    }

    .member img {
        height: 30%;
    }

    .member {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 499px) and (min-width: 400px) {
    .task-container {
        border-radius: 5px;
        height: 40px;
        margin: 5px auto;
    }

    .task-information {
        width: 65%;
    }

    .task-heading {
        font-size: 6px;
        padding-left: 2px;
    }

    .task-title-divider {
        transform: rotate(20deg) translate(-50%);
    }

    .task-price {
        font-size: 7px;
    }

    .task-duration {
        font-size: 7px;
    }

    .task-duration-divider {
        transform: rotate(20deg) translate(-50%);
    }

    .task-progress {
        padding: 0 2px;
    }

    .total-percentage {
        width: 50%;
        height: 3px;
    }

    .progress-percentage {
        width: 50%;
        height: 3px;
    }

    .task-weeks {
        width: 50%;
        font-size: 7px;
    }

    .task-members {
        width: 35%;
        font-size: 6px;
        padding: 2px;
        text-align: center;
    }

    .member img {
        height: 30%;
    }

    .member {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 399px) and (min-width: 300px) {
    .task-container {
        border-radius: 5px;
        height: 40px;
        margin: 5px auto;
    }

    .task-information {
        width: 65%;
    }

    .task-heading {
        font-size: 5px;
        padding-left: 2px;
    }

    .task-title-divider {
        transform: rotate(20deg) translate(-50%);
    }

    .task-price {
        font-size: 6px;
    }

    .task-duration {
        font-size: 6px;
    }

    .task-duration-divider {
        transform: rotate(20deg) translate(-50%);
    }

    .task-progress {
        padding: 0 2px;
    }

    .total-percentage {
        width: 50%;
        height: 3px;
    }

    .progress-percentage {
        width: 50%;
        height: 3px;
    }

    .task-weeks {
        width: 50%;
        font-size: 7px;
    }

    .task-members {
        width: 35%;
        font-size: 6px;
        padding: 2px;
        text-align: center;
    }

    .member img {
        height: 30%;
    }

    .member {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}