.subscription-card-container {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #ffd7b9;
    display: flex;
    justify-content: center;
}

.subscription-content {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}

.brand-logo-container {
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-logo {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-logo img {
    width: 30px;
    height: 30px;
}

.subscription-info {
    width: 25%;
    height: 80%;
    position: relative;
    padding: 5px 0;
}

.brand-name {
    position: absolute;
    width: 100%;
    height: 50%;
    font-size: 0.7rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 5px;
    color: #0d0b08;
}

.subscription-date {
    position: absolute;
    width: 100%;
    height: 50%;
    font-size: 0.7rem;
    font-weight: bold;
    display: flex;
    padding-left: 5px;
    align-items: center;
    top: 50%;
    color: #dc7972;
}

.subscription-cost {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 0.7rem;
    padding-right: 5px;
    font-weight: 900;
}

.subscription-more-options {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-option-container {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffcca3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-option-circles {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    color: #0d0b08;
    background-color: #d76a6b;
    box-shadow: 7px 0 0 rgba(215,106,107, 1),
                -7px 0 0 rgba(215,106,107, 1);
}

@media (max-width: 1599px) and (min-width: 1300px) {
    .subscription-card-container {
        border-radius: 15px;
    }

    .brand-logo {
        width: 30px;
        height: 30px;
        border-radius: 8px;
    }

    .brand-logo img {
        width: 25px;
        height: 25px;
    }

    .brand-name {
        font-size: 10px;
    }

    .subscription-date {
        font-size: 8px;
    }

    .subscription-cost {
        font-size: 10px;
    }

    .more-option-container {
        width: 20px;
        height: 20px;
    }

    .more-option-circles {
        width: 4px;
        height: 4px;
        box-shadow: 5px 0 0 rgba(215,106,107, 1),
        -5px 0 0 rgba(215,106,107, 1);
    }



}

@media (max-width: 1299px) and (min-width: 1100px) {
    .subscription-card-container {
        border-radius: 12px;
    }

    .brand-logo {
        width: 25px;
        height: 25px;
        border-radius: 8px;
    }

    .brand-logo img {
        width: 20px;
        height: 20px;
    }

    .brand-name {
        font-size: 9px;
    }

    .subscription-date {
        font-size: 7px;
    }

    .subscription-cost {
        font-size: 8px;
    }

    .more-option-container {
        width: 20px;
        height: 20px;
    }

    .more-option-circles {
        width: 4px;
        height: 4px;
        box-shadow: 5px 0 0 rgba(215,106,107, 1),
        -5px 0 0 rgba(215,106,107, 1);
    }
}

@media (max-width: 1099px) and (min-width: 900px) {
    .subscription-card-container {
        border-radius: 10px;
    }

    .brand-logo-container {
        width: 25%;
    }

    .brand-logo {
        width: 22px;
        height: 22px;
        border-radius: 7px;
    }

    .brand-logo img {
        width: 18px;
        height: 18px;
    }

    .brand-name {
        padding-left: 1px;
        font-size: 8px;
    }

    .subscription-date {
        padding-left: 1px;
        font-size: 7px;
    }

    .subscription-cost {
        width: 35%;
        font-size: 7px;
        padding-right: 2px;
    }

    .subscription-more-options {
        width: 15%;
    }

    .more-option-container {
        width: 15px;
        height: 15px;
    }

    .more-option-circles {
        width: 3px;
        height: 3px;
        box-shadow: 4px 0 0 rgba(215,106,107, 1),
        -4px 0 0 rgba(215,106,107, 1);
    }
}

@media (max-width: 899px) and (min-width: 750px) {
    .subscription-card-container {
        border-radius: 8px;
    }

    .brand-logo-container {
        width: 25%;
    }

    .brand-logo {
        width: 18px;
        height: 18px;
        border-radius: 5px;
    }

    .brand-logo img {
        width: 15px;
        height: 15px;
    }

    .subscription-info {
        padding: 1px 0;
    }

    .brand-name {
        padding-left: 1px;
        font-size: 6px;
    }

    .subscription-date {
        padding-left: 1px;
        font-size: 6px;
    }

    .subscription-cost {
        width: 35%;
        font-size: 6px;
        padding-right: 2px;
    }

    .subscription-more-options {
        width: 15%;
    }

    .more-option-container {
        width: 12px;
        height: 12px;
    }

    .more-option-circles {
        width: 2px;
        height: 2px;
        box-shadow: 3px 0 0 rgba(215,106,107, 1),
        -3px 0 0 rgba(215,106,107, 1);
    }
}

@media (max-width: 749px) and (min-width: 601px) {
    .subscription-card-container {
        border-radius: 7px;
    }

    .brand-logo-container {
        width: 25%;
    }

    .brand-logo {
        width: 16px;
        height: 16px;
        border-radius: 4px;
    }

    .brand-logo img {
        width: 12px;
        height: 12px;
    }

    .subscription-info {
        padding: 1px 0;
    }

    .brand-name {
        padding-left: 1px;
        font-size: 5px;
    }

    .subscription-date {
        padding-left: 1px;
        font-size: 5px;
    }

    .subscription-cost {
        width: 35%;
        font-size: 5px;
        padding-right: 2px;
    }

    .subscription-more-options {
        width: 15%;
    }

    .more-option-container {
        width: 10px;
        height: 10px;
    }

    .more-option-circles {
        width: 2px;
        height: 2px;
        box-shadow: 3px 0 0 rgba(215,106,107, 1),
        -3px 0 0 rgba(215,106,107, 1);
    }
}