.resume-hero-container {
    height: 865px;
    width: 100%;
    background-color: #1f272f;
    box-sizing: border-box;
}

.resume-mainbody {
    display: flex;
    width: 1900px;
    height: 100%;
    margin: 0 auto;
}

.resume-intro {
    width: 50%;
    height: 100%;
    position: relative;
    font-family: "Nunito", sans-serif;
}

.resume-intro-background {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    background-color: #00bd96;
    filter: blur(80px);
    opacity: 0.1;
}

.resume-intro-text {
    color: #faf8f5;
    width: 95%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 5%;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.resume-intro-heading {
    padding: 10px 0;
    font-weight: 800;
    font-size: 2.8rem;
}

.resume-name {
    font-weight: 800;
    font-size: 2.8rem;
    background: #00bd96;
    background-clip: text;
    color: transparent;
    font-family: "Roboto", sans-serif;
}

.intro-profession-heading {
    color: #ff719c;
}

.resume-intro-buttontype {
    position: absolute;
    top: 40%;
    left: 5%;
    width: 95%;
    height: 15%;
    display: flex;
    align-items: center;
}

.resume-button {
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    border-radius: 35px;
    cursor: pointer;
    color: #faf8f5;
    position: relative;
    border: none;
    background-color: rgb(0, 189, 150);
    box-shadow: 0px 10px 10px rgb(4, 239, 189) inset,
    0px 5px 10px rgba(5, 5, 5, 0.212),
    0px -10px 10px #00604e inset;
    margin-left: 50px;
}

.resume-button::before {
    width: 70%;
    height: 2px;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.678);
    content: "";
    filter: blur(1px);
    top: 7px;
    border-radius: 50%;
}

.resume-button::after {
    width: 70%;
    height: 2px;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.137);
    content: "";
    filter: blur(1px);
    bottom: 7px;
    border-radius: 50%;
}

.resume-button:hover {
    animation: jello-horizontal 1s;
}


.resume-stats {
    width: 95%;
    height: 30%;
    position: absolute;
    top: 55%;
    left: 5%;
}

.resume-stats-text {
    width: 100%;
    height: 30%;
    display: flex;
    color: #faf8f5;
    align-items: end;
    padding-left: 15px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.resume-stats-content {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
}

.resume-stats-block {
    width: calc((100% - 9px)/4);
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #faf8f5;
    background-clip: text;
    color: transparent;
}

.resume-stats-block h1 {
    padding: 10px 0;
    font-size: 3rem;
}

.resume-stats-block  {
    font-size: 1.3em;
}

.resume-stats-divider {
    width: 3px;
    height: 80%;
    border-radius: 4px;
    background: linear-gradient(180deg, #006c4c, #4bffe1);
}

.resume-hero-graphics {
    position: relative;
    width: 50%;
    background-color: #1f272f;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-animation-container {
    padding: 1rem;
    width: 90%;
    height: 80%;
    background: #1f272f;
    overflow: hidden;
    display: grid;
    grid-template-rows: 20% 20% 20% 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.grid-item {
    background-color: #161c21;
    border-radius: 15px;
}

.project-details {
    grid-row: 2 / 4;
    overflow: hidden;
}

.project-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    color: #faf8f5;
    width: 100%;
    height: 20%;
    letter-spacing: 1px;
}

.project-description-list {
    width: calc(100% * 10);
    height: 80%;
    display: flex;
}

.project-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    padding: 5px 1rem;
    color: #faf8f5;
    font-family: "Nunito", sans-serif;
    font-size: 1.1rem;
    overflow: hidden;
}

.project-description:first-child {
    animation: description-to-be-changed 1s ease-in-out;
    animation-delay: 3s;
}

@keyframes description-to-be-changed {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.project-description:nth-child(2n) {
    animation: description-being-changed 1s ease-in-out;
    animation-delay: 3s;
}

@keyframes description-being-changed {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(-100%);
    }
}

.website-name {
    color: #ff719c;
    font-weight: 900;
}

.client-description {
    overflow: hidden;
}

.client-name-title {
    position: relative;
    width: 100%;
    height: 30%;
    font-family: "Roboto", sans-serif;
    background-color: #161c21;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.client-name-title h2 {
    color: #faf8f5;
}

.client-details {
    width: 100%;
    height: 70%;
}

.client-name-list {
    width: calc(100% * 10);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.client-data {
    width: calc(100% / 10);
    height: 100%;
    display: flex;
}

.client-data:first-child {
    animation: client-being-changed 1s ease-in-out;
    animation-delay: 3s;
    transform-origin: right center;
}

@keyframes client-being-changed {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-180deg);
    }
}

.client-data:nth-child(2n) {
    animation: client-to-be-changed 1.5s ease-out;
    animation-delay: 2.5s;
    transform-origin: right center;
}

@keyframes client-to-be-changed {
    0% {
        transform: translateX(-100%) rotate(180deg);
    }
    90% {
        transform: translateX(-100%) rotate(-5deg);
    }
    100% {
        transform: translateX(-100%) rotate(0deg);
    }
}

.client-name {
    width: 70%;
    height: 100%;
    font-family: "Nunito", sans-serif;
    font-size: 2.3rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #00bd96;
}

.client-rating {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    align-items: center;
    flex-direction: column;
    font-size: 0.9rem;
    color: #faf8f5;
    font-family: "Nunito", sans-serif;
}

.client-rating img {
    width: 80%;
    height: 20%;
}

.layout-image {
    grid-row: 1 / 4;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.layout-image-slider {
    display: flex;
    height: 100%;
    width: calc(100% * 10);
}

.layout-slide {
    height: 100%;
    width: 10%;
}

.layout-slide:first-child {
    animation: layout-slider 1s ease-in-out;
    animation-delay: 3s;
}

@keyframes layout-slider {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.layout-slide:nth-child(2n) {
    animation: layout-slider 1s ease-in-out;
    animation-delay: 3s;
}

@keyframes layout-slider {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.layout-image img {
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
    transition: 0.3s ease-in-out;
}

.layout-image img:hover {
    transform: scale(1.05);
}

.project-facts {
    position: absolute;
    width: 100px;
    height: 60px;
    background-color: #faf8f5;
    z-index: 5;
    border-radius: 10px;
    border: 2px solid #018f73;
}

.detail-block1 {
    top: 15%;
    transform: translateY(-15%);
    right: 3%;
    animation: fact-block1-entry 0.5s ease-out, fact-block1-exit 1s ease-in-out 3s;
}

@keyframes fact-block1-entry {
    from {
        right: -50%;
    }
    to {
        right: 3%;
    }
}

@keyframes fact-block1-exit {
    from {
        opacity: 1;
        top: 15%;
    }
    to {
        top: -10%;
        opacity: 0;
    }
}

.detail-block2 {
    top: 50%;
    transform: translateY(-50%);
    right: 3%;
    animation: fact-block2-entry 0.5s ease-out, fact-block2-exit 1s ease-in-out 3.1s;
}

@keyframes fact-block2-entry {
    from {
        right: -50%;
    }
    to {
        right: 3%;
    }
}

@keyframes fact-block2-exit {
    from {
        opacity: 1;
        top: 50%;
    }
    to {
        top: 25%;
        opacity: 0;
    }
}

.detail-block3 {
    bottom: 15%;
    transform: translateY(15%);
    right: 3%;
    animation: fact-block3-entry 0.5s ease-out, fact-block3-exit 1s ease-in-out 3.2s;
}

@keyframes fact-block3-entry {
    from {
        right: -50%;
    }
    to {
        right: 3%;
    }
}

@keyframes fact-block3-exit {
    from {
        opacity: 1;
        bottom: 15%;
    }
    to {
        bottom: 40%;
        opacity: 0;
    }
}

.project-fact-title {
    width: 100%;
    height: 50%;
    font-family: "Nunito", sans-serif;
    font-size: 0.7rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-percentage {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    color: #018f73;
}

.project-statistics {
    grid-column: 1 / 3;
    overflow: hidden;
}

.project-statistics-title {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #faf8f5;
    font-family: "Nunito", sans-serif;
    letter-spacing: 1px;
}

.project-statistics-content {
    width: 100%;
    height: 80%;
    display: flex;
}

.project-bullet-list {
    width: 70%;
    height: calc(100% * 10);
}

.project-bullet-facts {
    width: 100%;
    height: 10%;
    padding: 5px 1rem;
}

.project-bullet-facts:first-child {
    animation: first-child-bullet-block 1s ease-out;
    animation-delay: 3s;
}

@keyframes first-child-bullet-block {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.bullet-facts {
    width: 100%;
    height: calc(100%/5);
    display: flex;
    align-items: center;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
}

.bullet-facts:nth-child(1) {
    animation: first-bullet 0.5s ease-in-out;
}

@keyframes first-bullet {
    from {
        opacity: 0;
        transform: translateY(300%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bullet-facts:nth-child(2) {
    animation: second-bullet 0.55s ease-in-out;
}

@keyframes second-bullet {
    from {
        opacity: 0;
        transform: translateY(300%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bullet-facts:nth-child(3) {
    animation: third-bullet 0.6s ease-in-out;
}

@keyframes third-bullet {
    from {
        opacity: 0;
        transform: translateY(300%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bullet-facts:nth-child(4) {
    animation: fourth-bullet 0.65s ease-in-out;
}

@keyframes fourth-bullet {
    from {
        opacity: 0;
        transform: translateY(300%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bullet-facts:nth-child(5) {
    animation: fifth-bullet 0.7s ease-in-out;
}

@keyframes fifth-bullet {
    from {
        opacity: 0;
        transform: translateY(300%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bullet-facts p {
    color: #faf8f5;
    font-weight: normal;
}

.bullet-facts img {
    width: 15px;
    height: 15px;
}

.bullet-facts .fact-title {
    color: #00bd96;
    font-weight: 800;
}

.project-review-block {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3%;
}

.review-block {
    border-radius: 10px;
    width: 90%;
    height: 70%;
    font-family: "Nunito", sans-serif;
    background-color: #1f272f;
    animation: review-block-entry 1s ease-in-out, review-block-exit 1s ease-in-out 3s;
}

@keyframes review-block-entry {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    80% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes review-block-exit {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}

.review-title {
    width: 100%;
    height: 30%;
    color: #ff719c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-percentage {
    width: 100%;
    height: 40%;
    color: #faf8f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.review-description {
    width: 100%;
    height: 30%;
    color: #faf8f5;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1900px) and (min-width: 1600px) {
    .resume-hero-container {
        height: 700px;
    }

    .resume-mainbody {
        width: 1600px;
    }

    .resume-intro-text {
        font-size: 1.1rem;
    }

    .resume-intro-heading {
        font-size: 2.4rem;
    }

    .resume-name {
        font-size: 2.4rem;
    }

    .resume-button {
        width: 128px;
        height: 48px;
        border-radius: 20px;
        font-size: 1.1rem;
    }

    .resume-stats-text {
        font-size: 1.1rem;
    }

    .resume-stats-block h1 {
        font-size: 2.6rem;
    }

    .resume-stats-block  {
        font-size: 1.1rem;
    }

    .project-description {
        font-size: 0.95rem;
    }

    .client-name {
        font-size: 2rem;
    }

    .bullet-facts {
        font-size: 0.8rem;
    }

    .review-percentage {
        font-size: 1.2rem;
    }

    .review-description {
        font-size: 0.8rem;
    }
}

@media (max-width: 1599px) and (min-width: 1301px){
    .resume-hero-container {
        height: 630px;
    }

    .resume-mainbody {
        width: 1300px;
    }

    .resume-intro-text {
        font-size: 1rem;
    }

    .resume-intro-heading {
        font-size: 2rem;
    }

    .resume-name {
        font-size: 2rem;
    }

    .resume-button {
        width: 128px;
        height: 48px;
        border-radius: 20px;
        font-size: 1.1rem;
    }

    .resume-stats-text {
        font-size: 0.9rem;
    }

    .resume-stats-block h1 {
        font-size: 2.2rem;
    }

    .resume-stats-block  {
        font-size: 0.9rem;
    }

    .resume-stats-divider {
        width: 3px;
        height: 70%;
        border-radius: 4px;
        background: linear-gradient(180deg, #006c4c, #4bffe1);
    }

    .project-title {
        font-size: 0.8rem;
    }

    .project-description {
        font-size: 0.85rem;
    }

    .client-name-title {
        font-size: 0.8rem;
    }

    .client-name {
        font-size: 1.7rem;
    }

    .client-rating {
        font-size: 0.8rem;
    }

    .project-statistics-title {
        font-size: 0.8rem;
    }

    .bullet-facts {
        font-size: 0.65rem;
    }

    .review-title {
        font-size: 0.8rem;
    }

    .review-percentage {
        font-size: 1rem;
    }

    .review-description {
        font-size: 0.65rem;
    }

    .project-facts {
        width: 80px;
        height: 48px;
        border-radius: 10px;
    }

    .project-fact-title {
        font-size: 0.5rem;
    }

    .fact-percentage {
        font-size: 0.8rem;
    }
}

@media (max-width: 1300px) and (min-width: 1050px){
    .resume-hero-container {
        height: 500px;
    }

    .resume-mainbody {
        width: 1050px;
    }

    .resume-intro-text {
        font-size: 0.8rem;
    }

    .resume-intro-heading {
        font-size: 1.6rem;
    }

    .resume-name {
        font-size: 1.6rem;
    }

    .resume-button {
        width: 96px;
        height: 36px;
        border-radius: 15px;
        font-size: 0.8rem;
    }

    .resume-stats-text {
        font-size: 0.75rem;
    }

    .resume-stats-block h1 {
        font-size: 1.8rem;
    }

    .resume-stats-block  {
        font-size: 0.75rem;
    }

    .resume-stats-divider {
        width: 3px;
        height: 70%;
        border-radius: 4px;
        background: linear-gradient(180deg, #006c4c, #4bffe1);
    }

    .project-title {
        font-size: 0.65rem;
    }

    .project-description {
        font-size: 0.6rem;
    }

    .client-name-title {
        font-size: 0.65rem;
    }

    .client-name {
        font-size: 1.3rem;
    }

    .client-rating {
        font-size: 0.65rem;
    }

    .project-statistics-title {
        font-size: 0.65rem;
    }

    .bullet-facts img {
        width: 10px;
        height: 10px;
    }

    .bullet-facts {
        font-size: 0.5rem;
    }

    .review-title {
        font-size: 0.65rem;
    }

    .review-percentage {
        font-size: 0.7rem;
    }

    .review-description {
        font-size: 0.5rem;
    }

    .project-facts {
        width: 70px;
        height: 42px;
        border-radius: 10px;
    }

    .project-fact-title {
        font-size: 0.5rem;
    }

    .fact-percentage {
        font-size: 0.6rem;
    }
}

@media (max-width: 1049px) and (min-width: 901px){
    .resume-hero-container {
        height: 450px;
    }

    .resume-mainbody {
        width: 900px;
    }

    .resume-intro-text {
        font-size: 0.7rem;
    }

    .resume-intro-heading {
        font-size: 1.4rem;
    }

    .resume-name {
        font-size: 1.4rem;
    }

    .resume-button {
        margin-left: 30px;
        width: 90px;
        height: 33px;
        border-radius: 15px;
        font-size: 0.7rem;
    }

    .resume-stats-text {
        font-size: 0.65rem;
    }

    .resume-stats-block h1 {
        font-size: 1.6rem;
    }

    .resume-stats-block  {
        font-size: 0.6rem;
    }

    .resume-stats-divider {
        width: 3px;
        height: 65%;
        border-radius: 4px;
        background: linear-gradient(180deg, #006c4c, #4bffe1);
    }

    .project-title {
        font-size: 0.55rem;
    }

    .project-description {
        font-size: 0.55rem;
    }

    .client-name-title {
        font-size: 0.55rem;
    }

    .client-name {
        font-size: 1rem;
    }

    .client-rating {
        font-size: 0.55rem;
    }

    .client-rating img {
        width: 72%;
        height: 18%;
    }

    .project-statistics-title {
        font-size: 0.55rem;
    }

    .bullet-facts img {
        width: 10px;
        height: 10px;
    }

    .bullet-facts {
        font-size: 0.43rem;
    }

    .review-title {
        font-size: 0.55rem;
    }

    .review-percentage {
        font-size: 0.55rem;
    }

    .review-description {
        font-size: 0.4rem;
    }

    .project-facts {
        width: 65px;
        height: 39px;
        border-radius: 10px;
    }

    .project-fact-title {
        font-size: 0.48rem;
    }

    .fact-percentage {
        font-size: 0.6rem;
    }
}

@media (max-width: 900px) and (min-width: 750px){
    .resume-hero-container {
        height: 400px;
    }

    .resume-mainbody {
        width: 750px;
    }

    .resume-intro-text {
        font-size: 0.6rem;
    }

    .resume-intro-heading {
        font-size: 1.1rem;
    }

    .resume-name {
        font-size: 1.1rem;
    }

    .resume-button {
        margin-left: 25px;
        width: 72px;
        height: 27px;
        border-radius: 15px;
        font-size: 0.55rem;
    }

    .resume-stats-text {
        font-size: 0.55rem;
    }

    .resume-stats-block h1 {
        font-size: 1.4rem;
    }

    .resume-stats-block  {
        font-size: 0.5rem;
    }

    .resume-stats-divider {
        width: 3px;
        height: 65%;
        border-radius: 4px;
        background: linear-gradient(180deg, #006c4c, #4bffe1);
    }

    .project-title {
        font-size: 0.45rem;
    }

    .project-description {
        font-size: 0.45rem;
    }

    .client-name-title {
        font-size: 0.45rem;
    }

    .client-name {
        font-size: 0.85rem;
    }

    .client-rating {
        font-size: 0.45rem;
    }

    .client-rating img {
        width: 60%;
        height: 15%;
    }

    .project-statistics-title {
        font-size: 0.45rem;
    }

    .bullet-facts img {
        width: 8px;
        height: 8px;
    }

    .bullet-facts {
        font-size: 0.33rem;
    }

    .review-title {
        font-size: 0.45rem;
    }

    .review-percentage {
        font-size: 0.55rem;
    }

    .review-description {
        font-size: 0.35rem;
    }

    .project-facts {
        width: 50px;
        height: 30px;
        border-radius: 10px;
    }

    .project-fact-title {
        font-size: 0.3rem;
    }

    .fact-percentage {
        font-size: 0.45rem;
    }
}

@media (max-width: 749px) and (min-width: 601px){
    .resume-hero-container {
        height: 280px;
    }

    .resume-mainbody {
        width: 600px;
    }

    .resume-intro-text {
        font-size: 0.5rem;
    }

    .resume-intro-heading {
        font-size: 0.9rem;
    }

    .resume-name {
        font-size: 0.9rem;
    }

    .resume-button {
        margin-left: 10px;
        width: 56px;
        height: 21px;
        border-radius: 15px;
        font-size: 0.4rem;
    }

    .resume-stats-text {
        font-size: 0.45rem;
        padding-left: 5px;
    }

    .resume-stats-block h1 {
        padding: 5px 0;
        font-size: 1.2rem;
    }

    .resume-stats-block  {
        font-size: 0.4rem;
    }

    .resume-stats-divider {
        width: 3px;
        height: 60%;
        border-radius: 4px;
        background: linear-gradient(180deg, #006c4c, #4bffe1);
    }

    .project-title {
        font-size: 0.35em;
    }

    .project-description {
        font-size: 0.3rem;
    }

    .client-name-title {
        font-size: 0.35rem;
    }

    .client-name {
        font-size: 0.6rem;
    }

    .client-rating {
        font-size: 0.35rem;
    }

    .client-rating img {
        width: 52%;
        height: 13%;
    }

    .project-statistics-title {
        font-size: 0.35rem;
    }

    .bullet-facts img {
        width: 6px;
        height: 6px;
    }

    .bullet-facts {
        font-size: 0.25rem;
    }

    .review-title {
        font-size: 0.35rem;
    }

    .review-percentage {
        font-size: 0.4rem;
    }

    .review-description {
        font-size: 0.25rem;
    }

    .project-facts {
        width: 40px;
        height: 24px;
        border-radius: 5px;
    }

    .project-fact-title {
        font-size: 0.25rem;
    }

    .fact-percentage {
        font-size: 0.37rem;
    }
}

@media (max-width: 600px) and (min-width: 501px){
    .resume-hero-container {
        height: 800px;
        width: 100vw;
    }

    .resume-mainbody {
        width: 90vw;
        height: 100%;
        flex-direction: column;
    }

    .resume-intro {
        width: 100%;
        height: 50%;
    }

    .resume-intro-background {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 30%;
        filter: blur(40px);
        opacity: 0.15;
    }

    .resume-intro-text {
        font-size: 0.9rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 50%;
        width: 100%;
    }

    .resume-intro-heading {
        width: 100%;
        font-size: 1.7rem;
    }

    .resume-name {
        font-size: 1.7rem;
    }

    .resume-intro-buttontype {
        height: 20%;
        justify-content: center
    }

    .resume-button {
        width: 96px;
        height: 36px;
        border-radius: 15px;
        font-size: 0.75rem;
        margin: 0 10px;
    }

    .resume-button::before {
        top: 4px;
    }

    .resume-button::after {
        bottom: 4px;
    }

    .resume-stats {
        width: 100%;
        top: 60%;
    }

    .resume-stats-text {
        justify-content: center;
        align-items: center;
        font-size: 0.75rem;
    }

    .resume-stats-block h1 {
        font-size: 1.7rem;
    }

    .resume-stats-block  {
        font-size: 0.7rem;
    }

    .resume-stats-divider {
        width: 2px;
        height: 90%;
        border-radius: 4px;
        background: linear-gradient(180deg, #006c4c, #4bffe1);
    }

    .resume-hero-graphics {
        height: 50%;
        width: 100%;
    }

    .project-title {
        font-size: 0.5em;
        align-items: end;
    }

    .project-description-list {
        height: 80%;
    }

    .project-description {
        font-size: 0.5rem;
    }

    .client-name-title {
        height: 40%;
        font-size: 0.5rem;
    }

    .client-details {
        height: 60%;
    }

    .client-name {
        font-size: 1.15rem;
    }

    .client-rating {
        font-size: 0.45rem;
    }

    .client-rating img {
        width: 72%;
        height: 18%;
    }

    .project-statistics-title {
        font-size: 0.5rem;
        align-items: end;
    }

    .bullet-facts img {
        width: 8px;
        height: 8px;
    }

    .bullet-facts {
        font-size: 0.42rem;
    }

    .review-title {
        font-size: 0.55rem;
    }

    .review-percentage {
        font-size: 0.55rem;
    }

    .review-description {
        font-size: 0.45rem;
    }

    .project-facts {
        width: 50px;
        height: 30px;
        border-radius: 5px;
    }

    .project-fact-title {
        font-size: 0.35rem;
    }

    .fact-percentage {
        font-size: 0.45rem;
    }
}

@media (max-width: 500px) and (min-width: 401px){
    .resume-hero-container {
        height: 700px;
        width: 100vw;
    }

    .resume-mainbody {
        width: 90vw;
        height: 100%;
        flex-direction: column;
    }

    .resume-intro {
        width: 100%;
        height: 50%;
    }

    .resume-intro-background {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 30%;
        filter: blur(40px);
        opacity: 0.15;
    }

    .resume-intro-text {
        font-size: 0.8rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 50%;
        width: 100%;
    }

    .resume-intro-heading {
        width: 100%;
        font-size: 1.3rem;
    }

    .resume-name {
        width: 100%;
        font-size: 1.3rem;
    }

    .resume-intro-buttontype {
        height: 20%;
        justify-content: center;
    }

    .resume-button {
        width: 88px;
        height: 33px;
        border-radius: 12px;
        font-size: 0.65rem;
        margin: 0 10px;
    }

    .resume-button::before {
        top: 3px;
    }

    .resume-button::after {
        bottom: 3px;
    }

    .resume-stats {
        width: 100%;
        top: 60%;
    }

    .resume-stats-text {
        justify-content: center;
        align-items: center;
        font-size: 0.65rem;
    }

    .resume-stats-block h1 {
        font-size: 1.5rem;
    }

    .resume-stats-block  {
        font-size: 0.6rem;
    }

    .resume-stats-divider {
        width: 2px;
        height: 90%;
        border-radius: 4px;
        background: linear-gradient(180deg, #006c4c, #4bffe1);
    }

    .resume-hero-graphics {
        height: 50%;
        width: 100%;
    }

    .hero-animation-container {
        padding: 1rem 0;
    }

    .project-title {
        font-size: 0.4em;
        align-items: center;
        height: 15%;
    }

    .project-description-list {
        height: 85%;
    }

    .project-description {
        font-size: 0.45rem;
    }

    .client-name-title {
        height: 40%;
        font-size: 0.4rem;
    }

    .client-details {
        height: 60%;
    }

    .client-name {
        font-size: 0.9rem;
    }

    .client-rating {
        font-size: 0.35rem;
    }

    .client-rating img {
        width: 72%;
        height: 18%;
    }

    .project-statistics-title {
        font-size: 0.4rem;
        align-items: end;
    }

    .bullet-facts img {
        width: 7px;
        height: 7px;
    }

    .bullet-facts {
        font-size: 0.37rem;
    }

    .review-title {
        font-size: 0.4rem;
    }

    .review-percentage {
        font-size: 0.45rem;
    }

    .review-description {
        font-size: 0.32rem;
    }

    .project-facts {
        width: 45px;
        height: 27px;
        border-radius: 7px;
    }

    .project-fact-title {
        font-size: 0.3rem;
    }

    .fact-percentage {
        font-size: 0.42rem;
    }
}

@media (max-width: 400px) and (min-width: 300px){
    .resume-hero-container {
        height: 550px;
        width: 100vw;
    }

    .resume-mainbody {
        width: 90vw;
        height: 100%;
        flex-direction: column;
    }

    .resume-intro {
        width: 100%;
        height: 50%;
    }

    .resume-intro-background {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 30%;
        filter: blur(40px);
        opacity: 0.15;
    }

    .resume-intro-text {
        font-size: 0.65rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 50%;
        width: 100%;
    }

    .resume-intro-heading {
        width: 100%;
        font-size: 1rem;
    }

    .resume-name {
        width: 100%;
        font-size: 1rem;
    }

    .resume-intro-buttontype {
        height: 20%;
        justify-content: center;
    }

    .resume-button {
        width: 72px;
        height: 27px;
        border-radius: 12px;
        font-size: 0.55rem;
        margin: 0 10px;
    }

    .resume-button::before {
        top: 3px;
    }

    .resume-button::after {
        bottom: 3px;
    }

    .resume-stats {
        width: 100%;
        top: 60%;
    }

    .resume-stats-text {
        justify-content: center;
        align-items: center;
        font-size: 0.45rem;
    }

    .resume-stats-block h1 {
        padding: 5px 0;
        font-size: 1.2rem;
    }

    .resume-stats-block  {
        font-size: 0.4rem;
    }

    .resume-stats-divider {
        width: 1px;
        height: 60%;
        border-radius: 4px;
        background: linear-gradient(180deg, #006c4c, #4bffe1);
    }

    .resume-hero-graphics {
        height: 50%;
        width: 100%;
    }

    .hero-animation-container {
        padding: 1rem 0;
    }

    .grid-item {
        border-radius: 8px;
    }

    .project-title {
        font-size: 0.3em;
        align-items: center;
        height: 15%;
    }

    .project-description-list {
        height: 85%;
    }

    .project-description {
        font-size: 0.32rem;
    }

    .client-name-title {
        height: 40%;
        font-size: 0.3rem;
    }

    .client-details {
        height: 60%;
    }

    .client-name {
        font-size: 0.65rem;
    }

    .client-rating {
        font-size: 0.3rem;
    }

    .client-rating img {
        width: 68%;
        height: 17%;
    }

    .project-statistics-title {
        font-size: 0.3rem;
        align-items: end;
    }

    .bullet-facts img {
        width: 5px;
        height: 5px;
    }

    .bullet-facts {
        font-size: 0.25rem;
    }

    .review-block {
        border-radius: 8px;
    }

    .review-title {
        font-size: 0.3rem;
    }

    .review-percentage {
        font-size: 0.3rem;
    }

    .review-description {
        font-size: 0.25rem;
    }

    .project-facts {
        width: 35px;
        height: 21px;
        border-radius: 5px;
        border: 1px solid #018f73;
    }

    .project-fact-title {
        font-size: 0.2rem;
    }

    .fact-percentage {
        font-size: 0.3rem;
    }
}



















.orbit-container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    z-index: 20;
}

.resume-image img {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 200px;
}

.orbit {
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
}

.orbit-1 {
    width: 300px;
    height: 300px;
    animation: clockwise-rotate 20s linear infinite;
    border: 1px solid #a90027;
}

.orbit-2 {
    width: 450px;
    height: 450px;
    animation: anticlockwise-rotate 60s linear infinite;
    border: 1px solid #0066c1;
}

@keyframes clockwise-rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


@keyframes anticlockwise-rotate {
    from {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.orbit-img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

.orbit-img:nth-child(1) {
    transform: rotate(0deg) translate(150px) rotate(0deg);
}

.orbit-img:nth-child(2) {
    transform: rotate(-120deg) translate(150px) rotate(120deg);
}

.orbit-img:nth-child(3) {
    transform: rotate(-240deg) translate(150px) rotate(240deg);
}

.orbit-2 .orbit-img:nth-child(1) {
    transform: rotate(-0deg) translate(225px) rotate(0deg);
}

.orbit-2 .orbit-img:nth-child(2) {
    transform: rotate(-120deg) translate(225px) rotate(120deg);
}

.orbit-2 .orbit-img:nth-child(3) {
    transform: rotate(-240deg) translate(225px) rotate(240deg);
}

@keyframes orbit1-image-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.orbit-external {
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%)
}

.orbit-external-container {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    width: 180px;
    height: 60px;
    border-radius: 30px;
}

.orbit-external-img {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 1;
}

.orbit-external-container:nth-child(1) {
    transform: rotate(-18deg) translate(280px) rotate(18deg);
}

.orbit-external-container:nth-child(2) {
    transform: rotate(-90deg) translate(280px) rotate(90deg);
}

.orbit-external-container:nth-child(3) {
    transform: rotate(-162deg) translate(280px) rotate(162deg);
}

.orbit-external-container:nth-child(4) {
    transform: rotate(-234deg) translate(280px) rotate(234deg);
}

.orbit-external-container:nth-child(5) {
    transform: rotate(-306deg) translate(280px) rotate(306deg);
}

.orbit-external-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 80%;
    height: 50%;
    border-radius: 30px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
    background: linear-gradient(to right, #00396e, #a90027);
    color: white;
}

.resume-hero-cloud {
    width: 400px;
    height: 300px;
    background: #faf8f5;
    position: relative;
    top: calc((100% - 300px) + 1rem);
    left: calc((100% - 400px) + 1rem);
}

.resume-hero-cloud-circle {
    border-radius: 50%;
    background: #faf8f5;
    position: absolute;
}

.big-1 {
    width: 150px;
    height: 150px;
    top: -30%;
    left: 70%;
    box-shadow: 13px -10px 6px rgba(0, 0, 0, 0.2);
    z-index: 15;
}

.small-1 {
    width: 50px;
    height: 50px;
    top: -25%;
    left: 67%;
    box-shadow: 5px -10px 6px rgba(0, 0, 0, 0.2);
    z-index: 14;
}

.medium-1 {
    width: 100px;
    height: 100px;
    top: -20%;
    left: 50%;
    box-shadow: 8px -10px 6px rgba(0, 0, 0, 0.2);
    z-index: 13;
}

.medium-2 {
    width: 100px;
    height: 100px;
    top: -10%;
    left: 35%;
    box-shadow: 16px -24px 6px rgba(0, 0, 0, 0.2);
    z-index: 12;
}

.medium-3 {
    width: 100px;
    height: 100px;
    top: -15%;
    left: 15%;
    box-shadow: 12px -10px 6px rgba(0, 0, 0, 0.2);
    z-index: 11;
}

.small-2 {
    width: 50px;
    height: 50px;
    top: -14%;
    left: 8%;
    box-shadow: 5px -10px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.medium-4 {
    width: 100px;
    height: 100px;
    top: -8%;
    left: -7%;
    box-shadow: -8px -10px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.small-2 {
    width: 50px;
    height: 50px;
    top: 20%;
    left: -4%;
    box-shadow: -9px -2px 6px rgba(0, 0, 0, 0.2);
    z-index: 9;
}

.medium-5 {
    width: 100px;
    height: 100px;
    top: 27%;
    left: -14%;
    box-shadow: -18px -1px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.small-4 {
    width: 50px;
    height: 50px;
    top: 55%;
    left: -12%;
    box-shadow: -5px 5px 6px rgba(0, 0, 0, 0.2);
    z-index: 11;
}

.big-2 {
    width: 150px;
    height: 150px;
    top: 77%;
    left: -36%;
    box-shadow: -7px -9px 6px rgba(0, 0, 0, 0.2);
    z-index: 11;
}

.medium-6 {
    width: 100px;
    height: 100px;
    top: 62%;
    left: -20%;
    z-index: 12;
}
