.resume-hero-container {
    height: calc(100vh - 90px);
}

.resume-mainbody {
    display: flex;
    width: 100%;
    height: 100%;
}

.resume-intro {
    width: 50%;
    height: 100%;
    background-color: #1f272f;
    position: relative;
    font-family: "Nunito", sans-serif;
}

.resume-intro-background {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    background-color: #00bd96;
    filter: blur(80px);
    opacity: 0.1;
}

.resume-intro-text {
    color: #faf8f5;
    width: 80%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.resume-intro-heading {
    width: 80%;
    padding: 10px 0;
    font-weight: 800;
    font-size: 2.3rem;
}

.resume-name {
    font-weight: 800;
    font-size: 2.3rem;
    background: #00bd96;
    background-clip: text;
    color: transparent;
    font-family: "Roboto", sans-serif;
}

.intro-profession-heading {
    color: #ff719c;
}

.resume-intro-buttontype {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    height: 15%;
    display: flex;
    align-items: center;
}

.resume-button {
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    border-radius: 15px;
    margin-left: 10px;
    cursor: pointer;
    color: #faf8f5;
    background-color: #018f73;
}

.resume-button.hire {
    background: linear-gradient(90deg, #006c4c, #00ac91);
}

.resume-button.explore {
    background: linear-gradient(270deg, #006c4c, #00ac91);
}

.resume-stats {
    width: 80%;
    height: 30%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
}

.resume-stats-text {
    width: 100%;
    height: 30%;
    display: flex;
    color: #faf8f5;
    align-items: end;
    padding-left: 15px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
}

.resume-stats-content {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
}

.resume-stats-block {
    width: calc((100% - 9px)/4);
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #faf8f5;
    background-clip: text;
    color: transparent;
}

.resume-stats-block h1 {
    padding: 10px 0;
}

.resume-stats-divider {
    width: 3px;
    height: 80%;
    border-radius: 4px;
    background: linear-gradient(180deg, #006c4c, #4bffe1);
}





.resume-hero-graphics {
    position: relative;
    width: 50%;
    background: #1f272f;
    padding: 1rem;
    overflow: hidden;
}

.orbit-container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    z-index: 20;
}

.resume-image img {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 200px;
}

.orbit {
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
}

.orbit-1 {
    width: 300px;
    height: 300px;
    animation: clockwise-rotate 20s linear infinite;
    border: 1px solid #a90027;
}

.orbit-2 {
    width: 450px;
    height: 450px;
    animation: anticlockwise-rotate 60s linear infinite;
    border: 1px solid #0066c1;
}

@keyframes clockwise-rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


@keyframes anticlockwise-rotate {
    from {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.orbit-img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

.orbit-img:nth-child(1) {
    transform: rotate(0deg) translate(150px) rotate(0deg);
}

.orbit-img:nth-child(2) {
    transform: rotate(-120deg) translate(150px) rotate(120deg);
}

.orbit-img:nth-child(3) {
    transform: rotate(-240deg) translate(150px) rotate(240deg);
}

.orbit-2 .orbit-img:nth-child(1) {
    transform: rotate(-0deg) translate(225px) rotate(0deg);
}

.orbit-2 .orbit-img:nth-child(2) {
    transform: rotate(-120deg) translate(225px) rotate(120deg);
}

.orbit-2 .orbit-img:nth-child(3) {
    transform: rotate(-240deg) translate(225px) rotate(240deg);
}

@keyframes orbit1-image-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.orbit-external {
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%)
}

.orbit-external-container {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    width: 180px;
    height: 60px;
    border-radius: 30px;
}

.orbit-external-img {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 1;
}

.orbit-external-container:nth-child(1) {
    transform: rotate(-18deg) translate(280px) rotate(18deg);
}

.orbit-external-container:nth-child(2) {
    transform: rotate(-90deg) translate(280px) rotate(90deg);
}

.orbit-external-container:nth-child(3) {
    transform: rotate(-162deg) translate(280px) rotate(162deg);
}

.orbit-external-container:nth-child(4) {
    transform: rotate(-234deg) translate(280px) rotate(234deg);
}

.orbit-external-container:nth-child(5) {
    transform: rotate(-306deg) translate(280px) rotate(306deg);
}

.orbit-external-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 80%;
    height: 50%;
    border-radius: 30px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
    background: linear-gradient(to right, #00396e, #a90027);
    color: white;
}

.resume-hero-cloud {
    width: 400px;
    height: 300px;
    background: #faf8f5;
    position: relative;
    top: calc((100% - 300px) + 1rem);
    left: calc((100% - 400px) + 1rem);
}

.resume-hero-cloud-circle {
    border-radius: 50%;
    background: #faf8f5;
    position: absolute;
}

.big-1 {
    width: 150px;
    height: 150px;
    top: -30%;
    left: 70%;
    box-shadow: 13px -10px 6px rgba(0, 0, 0, 0.2);
    z-index: 15;
}

.small-1 {
    width: 50px;
    height: 50px;
    top: -25%;
    left: 67%;
    box-shadow: 5px -10px 6px rgba(0, 0, 0, 0.2);
    z-index: 14;
}

.medium-1 {
    width: 100px;
    height: 100px;
    top: -20%;
    left: 50%;
    box-shadow: 8px -10px 6px rgba(0, 0, 0, 0.2);
    z-index: 13;
}

.medium-2 {
    width: 100px;
    height: 100px;
    top: -10%;
    left: 35%;
    box-shadow: 16px -24px 6px rgba(0, 0, 0, 0.2);
    z-index: 12;
}

.medium-3 {
    width: 100px;
    height: 100px;
    top: -15%;
    left: 15%;
    box-shadow: 12px -10px 6px rgba(0, 0, 0, 0.2);
    z-index: 11;
}

.small-2 {
    width: 50px;
    height: 50px;
    top: -14%;
    left: 8%;
    box-shadow: 5px -10px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.medium-4 {
    width: 100px;
    height: 100px;
    top: -8%;
    left: -7%;
    box-shadow: -8px -10px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.small-2 {
    width: 50px;
    height: 50px;
    top: 20%;
    left: -4%;
    box-shadow: -9px -2px 6px rgba(0, 0, 0, 0.2);
    z-index: 9;
}

.medium-5 {
    width: 100px;
    height: 100px;
    top: 27%;
    left: -14%;
    box-shadow: -18px -1px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.small-4 {
    width: 50px;
    height: 50px;
    top: 55%;
    left: -12%;
    box-shadow: -5px 5px 6px rgba(0, 0, 0, 0.2);
    z-index: 11;
}

.big-2 {
    width: 150px;
    height: 150px;
    top: 77%;
    left: -36%;
    box-shadow: -7px -9px 6px rgba(0, 0, 0, 0.2);
    z-index: 11;
}

.medium-6 {
    width: 100px;
    height: 100px;
    top: 62%;
    left: -20%;
    z-index: 12;
}
