.mutk-website {
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.mutk-hero-section, .mutk-mobile-section, .mutk-card-section {
    width: 100vw;
    height: 100vh;
}

.mutk-card-section {
    background-color: #faf8f5;
}