.first-mobile-container {
    width: 260px;
    height: 430px;
    position: relative;
    font-family: "Nunito", sans-serif;
}


.first-mobile-body {
    position: absolute;
    background-color: #ffb689;
    height: 100%;
    width: 100%;
    border-radius: 60px;
    border: 3px solid #aeaeae; /* Inner border */
    outline: 2px solid #717171;
    z-index: 1;
    overflow: hidden;
}

.first-mobile-header {
    width: 100%;
    height: 14%;
}

.account-info {
    width: 100%;
    height: 60%;
    display: flex;
}

.responsive-menu {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px;
}

.responsive-menu-bars {
    width: 30%;
    height: 3px;
    border-radius: 3px;
    background-color: #956145;
    box-shadow: 0 5px #956145;
}

.account-image {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 40px;
}

.account-image img {
    width: 20px;
    height: 20px;
}

.mobile-date {
    width: 100%;
    height: 40%;
    color: #8e573a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    font-size: 0.8rem;
    font-weight: bold;
}

.first-mobile-title {
    font-family: "Belanosima", sans-serif;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.mobile-menu__button {
    width: 40%;
    height: 100%;
    color: #270d04;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #ffb689;
    font-weight: 700;
    cursor: pointer;
}

.first-mobile-heading-divider {
    width: 5%;
    height: 100%;
    text-align: center;
    border-left: 1px solid #8e573a;
    transform: rotate(-30deg) translate(50%)
}

.mobile-tasks-container {
    position: absolute;
    top: 25%;
    width: 100%;
    height: 75%;
    background: #faf8f5;
    border-radius: 50px;
    font-family: "Belanosima", sans-serif;
    font-weight: 500;
}

.mobile-tasks-dates {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.date-item {
    flex: 0 0 calc(100% / 7);
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    position: relative;
    color: #c1806f;
}

.date-item::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    background: #d2d2d0;
}

.mobile-tasks-list {
    width: 100%;
    height: 80%;
    background: #ffffff;
    scrollbar-width: none;
    overflow: hidden;
}

.scroll-content {
    animation: scrollUpAndDown 20s linear infinite; /* Apply animation */
    will-change: transform; /* Hint the browser about upcoming changes for performance */
}

@keyframes scrollUpAndDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(calc(-100% + (((430px * 0.75) * 0.8) - 20px)));
    }
    100% {
        transform: translateY(0);

    }
}

.mobile-tasks-list:hover .scroll-content {
    animation-play-state: paused;
}

.first-mobile-frame__button--power {
    position: absolute;
    top: 20%;
    left: -4px;
    width: 20px;
    height: 30px;
    background-color: #aeaeae;
    border-radius: 7px;
    z-index: 0;
}

.first-mobile-frame__button--sound {
    position: absolute;
    top: 33%;
    left: -4px;
    width: 20px;
    height: 40px;
    background-color: #aeaeae;
    border-radius: 7px;
    z-index: 0;
    box-shadow: 0 45px 0 #aeaeae;
}

@media (max-width: 1599px) and (min-width: 1300px) {
    .first-mobile-container {
        width: 208px;
        height: 344px;
    }

    .first-mobile-body {
        border-radius: 45px;
    }

    .first-mobile-header {
        height: 14%;
    }

    .responsive-menu {
        justify-content: center;
        padding: 0 30px;
    }

    .account-image {
        padding: 0 30px;
        justify-content: center;
    }

    .account-image img {
        width: 17px;
        height: 17px;
    }

    .mobile-date {
        font-size: 0.7rem;
    }

    .first-mobile-title {
        justify-content: space-evenly;
    }

    .mobile-menu__button {
        font-size: 1rem;
    }

    .first-mobile-heading-divider {
        transform: rotate(-25deg) translate(50%)
    }

    .mobile-tasks-container {
        border-radius: 40px;
    }

    .scroll-content {
        animation: scrollUpAndDown 30s linear infinite; /* Apply animation */
        will-change: transform; /* Hint the browser about upcoming changes for performance */
    }

    @keyframes scrollUpAndDown {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(calc(-100% + (((323px * 0.75) * 0.8) - 20px)));
        }
        100% {
            transform: translateY(0);

        }
    }
}

@media (max-width: 1299px) and (min-width: 1100px) {
    .first-mobile-container {
        width: 182px;
        height: 301px;
    }

    .first-mobile-body {
        border-radius: 40px;
    }

    .first-mobile-header {
        height: 14%;
    }

    .account-info {
        height: 55%;
    }

    .responsive-menu {
        justify-content: center;
        padding: 0 30px;
    }

    .responsive-menu-bars {
        height: 2px;
        width: 40%;
    }

    .account-image {
        padding: 0 30px;
        justify-content: center;
    }

    .account-image img {
        width: 17px;
        height: 17px;
    }

    .mobile-date {
        height: 45%;
        font-size: 0.7rem;
    }

    .first-mobile-title {
        justify-content: space-evenly;
    }

    .mobile-menu__button {
        font-size: 0.85rem;
    }

    .first-mobile-heading-divider {
        transform: rotate(-25deg) translate(50%)
    }

    .mobile-tasks-container {
        border-radius: 32px;
    }

    .scroll-content {
        animation: scrollUpAndDown 30s linear infinite; /* Apply animation */
        will-change: transform; /* Hint the browser about upcoming changes for performance */
    }

    @keyframes scrollUpAndDown {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(calc(-100% + (((301px * 0.75) * 0.8) - 20px)));
        }
        100% {
            transform: translateY(0);

        }
    }

    .first-mobile-frame__button--power {
        width: 18px;
        height: 25px;
    }

    .first-mobile-frame__button--sound {
        width: 20px;
        height: 35px;
        border-radius: 7px;
        box-shadow: 0 37px 0 #aeaeae;
    }
}

@media (max-width: 1099px) and (min-width: 900px) {
    .first-mobile-container {
        width: 156px;
        height: 258px;
    }

    .first-mobile-body {
        border-radius: 35px;
    }

    .first-mobile-header {
        height: 14%;
    }

    .account-info {
        height: 55%;
    }

    .responsive-menu {
        justify-content: center;
        padding: 0 20px;
    }

    .responsive-menu-bars {
        height: 2px;
        width: 40%;
    }

    .account-image {
        padding: 0 20px;
        justify-content: center;
    }

    .account-image img {
        width: 15px;
        height: 15px;
    }

    .mobile-date {
        height: 45%;
        font-size: 0.6rem;
    }

    .first-mobile-title {
        justify-content: space-evenly;
    }

    .mobile-menu__button {
        font-size: 0.65rem;
    }

    .first-mobile-heading-divider {
        transform: rotate(-20deg) translate(50%)
    }

    .date-item {
        font-size: 0.75rem;
    }

    .date-item::after {
        width: 3px;
        height: 3px;
    }

    .mobile-tasks-container {
        border-radius: 30px;
    }

    .scroll-content {
        animation: scrollUpAndDown 30s linear infinite; /* Apply animation */
        will-change: transform; /* Hint the browser about upcoming changes for performance */
    }

    @keyframes scrollUpAndDown {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(calc(-100% + (((258px * 0.75) * 0.8) - 20px)));
        }
        100% {
            transform: translateY(0);

        }
    }

    .first-mobile-frame__button--power {
        width: 18px;
        height: 22px;
    }

    .first-mobile-frame__button--sound {
        width: 20px;
        height: 30px;
        border-radius: 6px;
        box-shadow: 0 30px 0 #aeaeae;
    }
}

@media (max-width: 899px) and (min-width: 750px) {
    .first-mobile-container {
        width: 130px;
        height: 205px;
    }

    .first-mobile-body {
        border-radius: 30px;
        border: 2px solid #aeaeae; /* Inner border */
        outline: 1px solid #717171;
    }

    .first-mobile-header {
        height: 12%;
    }

    .account-info {
        height: 55%;
    }

    .responsive-menu {
        justify-content: center;
        padding: 0 20px;
    }

    .responsive-menu-bars {
        height: 2px;
        width: 45%;
    }

    .account-image {
        padding: 0 20px;
        justify-content: center;
    }

    .account-image img {
        width: 11px;
        height: 11px;
    }

    .mobile-date {
        height: 45%;
        font-size: 0.5rem;
    }

    .first-mobile-title {
        height: 12%;
        justify-content: space-evenly;
    }

    .mobile-menu__button {
        font-size: 0.6rem;
    }

    .first-mobile-heading-divider {
        transform: rotate(-20deg) translate(50%)
    }

    .date-item {
        font-size: 0.65rem;
    }

    .date-item::after {
        width: 3px;
        height: 3px;
    }

    .mobile-tasks-container {
        border-radius: 20px;
    }

    .scroll-content {
        animation: scrollUpAndDown 30s linear infinite; /* Apply animation */
        will-change: transform; /* Hint the browser about upcoming changes for performance */
    }

    @keyframes scrollUpAndDown {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(calc(-100% + (((258px * 0.75) * 0.8) - 20px)));
        }
        100% {
            transform: translateY(0);

        }
    }

    .first-mobile-frame__button--power {
        width: 8px;
        height: 15px;
        left: -3px;
    }

    .first-mobile-frame__button--sound {
        width: 20px;
        height: 22px;
        border-radius: 6px;
        box-shadow: 0 22px 0 #aeaeae;
        left: -3px;
    }
}

@media (max-width: 749px) and (min-width: 601px) {
    .first-mobile-container {
        width: 104px;
        height: 162px;
    }

    .first-mobile-body {
        border-radius: 25px;
        border: 1px solid #aeaeae; /* Inner border */
        outline: 1px solid #717171;
    }

    .first-mobile-header {
        height: 12%;
    }

    .account-info {
        height: 55%;
    }

    .responsive-menu {
        justify-content: center;
        padding: 0 15px;
    }

    .responsive-menu-bars {
        height: 2px;
        width: 40%;
        box-shadow: 0 3px #956145;
    }

    .account-image {
        padding: 0 15px;
        justify-content: center;
    }

    .account-image img {
        width: 9px;
        height: 9px;
    }

    .mobile-date {
        height: 45%;
        font-size: 6px;
    }

    .first-mobile-title {
        height: 12%;
        justify-content: space-evenly;
    }

    .mobile-menu__button {
        font-size: 8px;
    }

    .first-mobile-heading-divider {
        transform: rotate(-20deg) translate(50%)
    }

    .date-item {
        font-size: 9px;
    }

    .date-item::after {
        width: 2px;
        height: 2px;
    }

    .mobile-tasks-container {
        border-radius: 17px;
    }

    .scroll-content {
        animation: scrollUpAndDown 30s linear infinite; /* Apply animation */
        will-change: transform; /* Hint the browser about upcoming changes for performance */
    }

    @keyframes scrollUpAndDown {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(calc(-100% + (((162px * 0.75) * 0.8) - 10px)));
        }
        100% {
            transform: translateY(0);

        }
    }

    .first-mobile-frame__button--power {
        width: 6px;
        height: 12px;
        left: -3px;
        border-radius: 3px;
    }

    .first-mobile-frame__button--sound {
        width: 12px;
        height: 18px;
        border-radius: 4px;
        box-shadow: 0 18px 0 #aeaeae;
        left: -3px;
    }
}

@media (max-width: 600px) and (min-width: 500px) {
    .first-mobile-container {
        width: 130px;
        height: 226px;
    }

    .first-mobile-body {
        border-radius: 30px;
        border: 1px solid #aeaeae; /* Inner border */
        outline: 1px solid #717171;
    }

    .first-mobile-header {
        height: 12%;
    }

    .account-info {
        height: 55%;
    }

    .responsive-menu {
        justify-content: center;
        padding: 0 20px;
    }

    .responsive-menu-bars {
        height: 2px;
        width: 40%;
        box-shadow: 0 3px #956145;
    }

    .account-image {
        padding: 0 20px;
        justify-content: center;
    }

    .account-image img {
        width: 12px;
        height: 12px;
    }

    .mobile-date {
        height: 45%;
        font-size: 8px;
    }

    .first-mobile-title {
        height: 12%;
        justify-content: space-evenly;
    }

    .mobile-menu__button {
        font-size: 10px;
    }

    .first-mobile-heading-divider {
        transform: rotate(-20deg) translate(50%)
    }

    .date-item {
        font-size: 11px;
    }

    .date-item::after {
        width: 2px;
        height: 2px;
    }

    .mobile-tasks-container {
        border-radius: 25px;
    }

    .scroll-content {
        animation: scrollUpAndDown 30s linear infinite; /* Apply animation */
        will-change: transform; /* Hint the browser about upcoming changes for performance */
    }

    @keyframes scrollUpAndDown {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(calc(-100% + (((226px * 0.75) * 0.8) - 10px)));
        }
        100% {
            transform: translateY(0);

        }
    }

    .first-mobile-frame__button--power {
        width: 6px;
        height: 15px;
        left: -3px;
        border-radius: 3px;
    }

    .first-mobile-frame__button--sound {
        width: 12px;
        height: 22px;
        border-radius: 4px;
        box-shadow: 0 22px 0 #aeaeae;
        left: -3px;
    }
}

@media (max-width: 499px) and (min-width: 400px) {
    .first-mobile-container {
        width: 130px;
        height: 226px;
    }

    .first-mobile-body {
        border-radius: 30px;
        border: 1px solid #aeaeae; /* Inner border */
        outline: 1px solid #717171;
    }

    .first-mobile-header {
        height: 12%;
    }

    .account-info {
        height: 55%;
    }

    .responsive-menu {
        justify-content: center;
        padding: 0 20px;
    }

    .responsive-menu-bars {
        height: 2px;
        width: 40%;
        box-shadow: 0 3px #956145;
    }

    .account-image {
        padding: 0 20px;
        justify-content: center;
    }

    .account-image img {
        width: 12px;
        height: 12px;
    }

    .mobile-date {
        height: 45%;
        font-size: 8px;
    }

    .first-mobile-title {
        height: 12%;
        justify-content: space-evenly;
    }

    .mobile-menu__button {
        font-size: 10px;
    }

    .first-mobile-heading-divider {
        transform: rotate(-20deg) translate(50%)
    }

    .date-item {
        font-size: 11px;
    }

    .date-item::after {
        width: 2px;
        height: 2px;
    }

    .mobile-tasks-container {
        border-radius: 25px;
    }

    .scroll-content {
        animation: scrollUpAndDown 30s linear infinite; /* Apply animation */
        will-change: transform; /* Hint the browser about upcoming changes for performance */
    }

    @keyframes scrollUpAndDown {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(calc(-100% + (((226px * 0.75) * 0.8) - 10px)));
        }
        100% {
            transform: translateY(0);

        }
    }

    .first-mobile-frame__button--power {
        width: 6px;
        height: 15px;
        left: -3px;
        border-radius: 3px;
    }

    .first-mobile-frame__button--sound {
        width: 12px;
        height: 22px;
        border-radius: 4px;
        box-shadow: 0 22px 0 #aeaeae;
        left: -3px;
    }
}