.first-mobile-container {
    width: 260px;
    height: 430px;
    position: relative;
    font-family: "Nunito", sans-serif;
}


.first-mobile-body {
    position: absolute;
    background-color: #ffb689;
    height: 100%;
    width: 100%;
    border-radius: 60px;
    border: 3px solid #424242; /* Inner border */
    outline: 2px solid #222222;
    z-index: 1;
    overflow: hidden;
}

.first-mobile-header {
    width: 100%;
    height: 14%;
}

.account-info {
    width: 100%;
    height: 60%;
    display: flex;
}

.responsive-menu {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px;
}

.responsive-menu-bars {
    width: 30%;
    height: 3px;
    border-radius: 3px;
    background-color: #956145;
    box-shadow: 0 5px #956145;
}

.account-image {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 40px;
}

.account-image img {
    width: 20px;
    height: 20px;
}

.mobile-date {
    width: 100%;
    height: 40%;
    color: #8e573a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 0.8rem;
    font-weight: bold;
}

.first-mobile-title {
    font-family: "Belanosima", sans-serif;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.mobile-menu__button {
    width: 40%;
    height: 100%;
    color: #270d04;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #ffb689;
    font-weight: 700;
    cursor: pointer;
}

.first-mobile-heading-divider {
    width: 5%;
    height: 100%;
    text-align: center;
    border-left: 1px solid #8e573a;
    transform: rotate(-30deg) translate(50%)
}

.mobile-tasks-container {
    position: absolute;
    top: 25%;
    width: 100%;
    height: 75%;
    background: #faf8f5;
    border-radius: 50px;
    font-family: "Belanosima", sans-serif;
    font-weight: 500;
}

.mobile-tasks-dates {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.date-item {
    flex: 0 0 calc(100% / 7);
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    position: relative;
    color: #c1806f;
}

.date-item::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    background: #d2d2d0;
}

.mobile-tasks-list {
    width: 100%;
    height: 80%;
    background: #ffffff;
    scrollbar-width: none;
    overflow: hidden;
}

.scroll-content {
    animation: scrollUpAndDown 20s linear infinite; /* Apply animation */
    will-change: transform; /* Hint the browser about upcoming changes for performance */
}

@keyframes scrollUpAndDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(calc(-100% + ((((100vh * 0.8) * 0.8 ) * 0.75) * 0.8) - 20px));
    }
    100% {
        transform: translateY(0);

    }
}

.mobile-tasks-list:hover .scroll-content {
    animation-play-state: paused;
}

.mobile-frame__button--power {
    position: absolute;
    top: 20%;
    left: -4px;
    width: 20px;
    height: 30px;
    background-color: #222222;
    border-radius: 7px;
    z-index: 0;
}

.mobile-frame__button--sound {
    position: absolute;
    top: 33%;
    left: -4px;
    width: 20px;
    height: 40px;
    background-color: #222222;
    border-radius: 7px;
    z-index: 0;
    box-shadow: 0 45px 0 rgba(0, 0, 0 , 1);
}