.resume-hero-container {
    height: 500px;
}

.resume-mainbody {
    display: flex;
    width: 100%;
    height: 100%;
}

.resume-intro {
    width: 40%;
    height: 100%;
    background-color: #00396e;
}

.resume-hero-graphics {
    position: relative;
    width: 60%;
    background: linear-gradient(to right, #00396e 50%, #a90027 100%);
    padding: 1rem;
    overflow: hidden;
}

.orbit-container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    z-index: 20;
    background: #fdca66;
}

.resume-image img {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 200px;
}

.orbit {
    position: absolute;
    border-radius: 50%;
    border: 1px dashed black;
    left: 50%;
    top: 50%;
}

.orbit-1 {
    width: 300px;
    height: 300px;
    animation: clockwise-rotate 30s linear infinite;
}

.orbit-2 {
    width: 450px;
    height: 450px;
    animation: anticlockwise-rotate 50s linear infinite;
}


@keyframes clockwise-rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


@keyframes anticlockwise-rotate {
    from {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.orbit-img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

.orbit-img:nth-child(1) {
    transform: rotate(0deg) translate(150px) rotate(0deg);
}

.orbit-img:nth-child(2) {
    transform: rotate(-120deg) translate(150px) rotate(120deg);
}

.orbit-img:nth-child(3) {
    transform: rotate(-240deg) translate(150px) rotate(240deg);
}

.orbit-2 .orbit-img:nth-child(1) {
    transform: rotate(-0deg) translate(225px) rotate(0deg);
}

.orbit-2 .orbit-img:nth-child(2) {
    transform: rotate(-120deg) translate(225px) rotate(120deg);
}

.orbit-2 .orbit-img:nth-child(3) {
    transform: rotate(-240deg) translate(225px) rotate(240deg);
}

@keyframes orbit1-image-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.resume-hero-cloud {
    width: 400px;
    height: 300px;
    background: #ffffff;
    position: relative;
    top: calc((100% - 300px) + 1rem);
    left: calc((100% - 400px) + 1rem);
}

.resume-hero-cloud-circle {
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
}

.big-1 {
    width: 150px;
    height: 150px;
    top: -30%;
    left: 70%;
    box-shadow: 13px -10px 6px rgba(0, 0, 0, 0.2);
    z-index: 15;
}

.small-1 {
    width: 50px;
    height: 50px;
    top: -25%;
    left: 67%;
    box-shadow: 5px -10px 6px rgba(0, 0, 0, 0.2);
    z-index: 14;
}

.medium-1 {
    width: 100px;
    height: 100px;
    top: -20%;
    left: 50%;
    box-shadow: 8px -10px 6px rgba(0, 0, 0, 0.2);
    z-index: 13;
}

.medium-2 {
    width: 100px;
    height: 100px;
    top: -10%;
    left: 35%;
    box-shadow: 16px -24px 6px rgba(0, 0, 0, 0.2);
    z-index: 12;
}

.medium-3 {
    width: 100px;
    height: 100px;
    top: -15%;
    left: 15%;
    box-shadow: 12px -10px 6px rgba(0, 0, 0, 0.2);
    z-index: 11;
}

.small-2 {
    width: 50px;
    height: 50px;
    top: -14%;
    left: 8%;
    box-shadow: 5px -10px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.medium-4 {
    width: 100px;
    height: 100px;
    top: -8%;
    left: -7%;
    box-shadow: -8px -10px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.small-2 {
    width: 50px;
    height: 50px;
    top: 20%;
    left: -4%;
    box-shadow: -9px -2px 6px rgba(0, 0, 0, 0.2);
    z-index: 9;
}

.medium-5 {
    width: 100px;
    height: 100px;
    top: 27%;
    left: -14%;
    box-shadow: -18px -1px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.small-4 {
    width: 50px;
    height: 50px;
    top: 55%;
    left: -12%;
    box-shadow: -5px 5px 6px rgba(0, 0, 0, 0.2);
    z-index: 11;
}

.big-2 {
    width: 150px;
    height: 150px;
    top: 77%;
    left: -36%;
    box-shadow: -7px -9px 6px rgba(0, 0, 0, 0.2);
    z-index: 11;
}

.medium-6 {
    width: 100px;
    height: 100px;
    top: 62%;
    left: -20%;
    z-index: 12;
}