:root {
    --upper-design-width: 150px;
    --upper-design-height: 150px;
}

.second-mobile-container {
    width: 260px;
    height: 430px;
    position: relative;
    font-family: "Nunito", sans-serif;
}

.second-mobile-body {
    position: absolute;
    background-color: #fff4eb;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    border: 3px solid #aeaeae; /* Inner border */
    outline: 2px solid #717171;
    z-index: 1;
    overflow: hidden;
}

.second-mobile-header {
    width: 100%;
    height: 15%;
    position: relative;
}

.second-mobile-date-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.second-mobile-date {
    width: 60%;
    height: 50%;
    background-color: #20150f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #ffccad;
}

.second-mobile-account-info {
    width: 100%;
    height: 60%;
    display: flex;
}

.account-holder-info {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #897e76;
}

.account-holder-name {
    color: #3a2f2c;
    font-weight: bold;
}

.account-holder-profile {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
}

.account-holder-profile img {
    width: 20px;
    height: 20px;
}

.second-account-title {
    width: 100%;
    height: 10%;
    font-size: 2rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #241a13;
}

.debit-card-container {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debit-card {
    width: 90%;
    height: 95%;
    background-color: #20150f;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.upper-design {
    width: 150px;
    height: 150px;
    position: absolute;
    border: 1px solid rgba(235,111,146,0.1);
    top: -85%;
    left: 80%;
    transform: translate(-80%);
    border-radius: 50%;
}

.extreme-circle {
    width: 125px;
    height: 125px;
    position: absolute;
    border: 1px solid rgba(235,111,146,0.5);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #36221d;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-circle {
    width: 75px;
    height: 75px;
    position: absolute;
    background: linear-gradient(to right , #ec6f93, #febc7b);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.lower-design {
    width: 100%;
    height: 70%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #ec6f93, #febc7b);
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="black" d="M0,0L48,5.3C96,11,192,21,288,58.7C384,96,480,160,576,176C672,192,768,160,864,122.7C960,85,1056,43,1152,64C1248,85,1344,171,1392,213.3L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>');
    -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="black" d="M0,0L48,5.3C96,11,192,21,288,58.7C384,96,480,160,576,176C672,192,768,160,864,122.7C960,85,1056,43,1152,64C1248,85,1344,171,1392,213.3L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>');
    mask-size: cover;
    -webkit-mask-size: cover;
}

.debit-card-info {
    width: 100%;
    height: 100%;
}

.card-type {
    width: 100%;
    height: 30%;
    padding-left: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: #fff4eb;
    display: flex;
    align-items: center;
}

.card-type p {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.card-logo {
    width: 50%;
    height: 100%;
    position: relative;
}

.card-logo-circle1 {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff4eb;
    top: 50%;
    left: 60%;
    transform: translate(-60%, -50%);
}

.card-logo-circle2 {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    left: 75%;
    transform: translate(-75%, -50%);
    border: 2px solid #fff4eb;
}

.card-data {
    position: absolute;
    width: 100%;
    height: 30%;
    display: flex;
}


.card-infographics {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.card-infographics img {
    height: 60%;
    margin: 0 5px;
}

.account-balance {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: #fff4eb;
}

.card-details {
    position: absolute;
    top: 60%;
    width: 100%;
    height: 40%;
    display: flex;
}

.card-holder-name {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 1rem;
    font-weight: 800;
    color: #fff4eb;
}

.card-expire-date {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
    font-size: 1rem;
    font-weight: 900;
    color: #20150f;
}

.subscription-container {
    width: 100%;
    height: 50%;
    position: relative;
}

.subscription-title {
    width: 100%;
    height: 10%;
    font-size: 0.8rem;
    font-weight: 800;
    color: #d76d6e;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}

.subscription-list-container {
    width: 100%;
    height: 100%;
    background-color: #ffb880;
    border-radius: 50px;
    overflow: hidden;
}

.subscription-scroll {
    width: 100%;
    height: 100%;
}

.subscription-card {
    position: relative;
    width: 80%;
    height: 25%;
    margin: 5px auto;
}

.subscription-card:first-child {
    transition: transform 0.8s ease-in-out 2.1s, opacity 0.8s ease-in-out 2.1s;
}

.subscription-card.swipe-left {
    transform: translateX(-100%);
    opacity: 0;
}

.second-mobile-frame__button--power {
    position: absolute;
    top: 20%;
    left: -4px;
    width: 20px;
    height: 30px;
    background-color: #aeaeae;
    border-radius: 7px;
    z-index: 0;
}

.second-mobile-frame__button--sound {
    position: absolute;
    top: 33%;
    left: -4px;
    width: 20px;
    height: 40px;
    background-color: #aeaeae;
    border-radius: 7px;
    z-index: 0;
    box-shadow: 0 40px 0 #aeaeae;
}

@media (max-width: 1599px) and (min-width: 1300px) {
    .second-mobile-container {
        width: 208px;
        height: 344px;
    }

    .second-mobile-body {
        border-radius: 45px;
    }

    .second-mobile-date {
        font-size: 10px;
    }

    .account-holder-info {
        font-size: 0.9rem;
    }

    .second-account-title {
        font-size: 1.7rem;
    }

    .upper-design {
        width: 100px;
        height: 100px;
    }

    .lower-design {
        height: 70%;
    }

    .card-type {
        font-size: 10px;
    }

    .card-type p {
        padding-left: 5px;
    }

    .card-logo-circle1 {
        width: 18px;
        height: 18px;
    }

    .card-logo-circle2 {
        width: 16px;
        height: 16px;
    }

    .account-balance {
        font-size: 0.85rem;
    }

    .card-holder-name {
        font-size: 0.85rem;
    }

    .card-expire-date {
        font-size: 0.85rem;
    }

    .subscription-title {
        font-size: 0.65rem;
    }

    .subscription-list-container {
        border-radius: 40px;
    }
}

@media (max-width: 1299px) and (min-width: 1100px) {
    :root {
        --upper-design-width: 100px;
        --upper-design-height: 100px;
    }

    .second-mobile-container {
        width: 182px;
        height: 301px;
    }

    .second-mobile-body {
        border-radius: 40px;
    }

    .second-mobile-date {
        font-size: 9px;
    }

    .account-holder-info {
        font-size: 0.75rem;
    }

    .second-account-title {
        font-size: 1.5rem;
    }

    .debit-card {
        border-radius: 15px;
    }

    .upper-design {
        width: var(--upper-design-width);
        height: var(--upper-design-height);
    }

    .extreme-circle {
        width: calc(var(--upper-design-width) * (5/6));
        height: calc(var(--upper-design-height) * (5/6));
    }

    .middle-circle {
        width: calc(var(--upper-design-width) * (2/3));
        height: calc(var(--upper-design-height) * (2/3));
    }

    .inner-circle {
        width: calc(var(--upper-design-width) * (1/2));
        height: calc(var(--upper-design-height) * (1/2));
    }

    .card-type {
        font-size: 9px;
    }

    .card-type p {
        padding-left: 5px;
    }

    .card-logo-circle1 {
        width: 16px;
        height: 16px;
    }

    .card-logo-circle2 {
        width: 14px;
        height: 14px;
    }

    .account-balance {
        font-size: 0.7rem;
    }

    .card-holder-name {
        font-size: 0.7rem;
    }

    .card-expire-date {
        font-size: 0.7rem;
    }

    .subscription-title {
        font-size: 8px;
    }

    .subscription-list-container {
        border-radius: 35px;
    }

    .second-mobile-frame__button--power {
        width: 18px;
        height: 25px;
    }

    .second-mobile-frame__button--sound {
        width: 20px;
        height: 35px;
        border-radius: 7px;
        box-shadow: 0 37px 0 #aeaeae;
    }
}

@media (max-width: 1099px) and (min-width: 900px) {
    :root {
        --upper-design-width: 85px;
        --upper-design-height: 85px;
    }

    .second-mobile-container {
        width: 156px;
        height: 258px;
    }

    .second-mobile-body {
        border-radius: 35px;
    }

    .second-mobile-date {
        font-size: 8px;
    }

    .account-holder-info {
        font-size: 0.65rem;
    }

    .account-holder-profile img {
        width: 17px;
        height: 17px;
    }

    .second-account-title {
        font-size: 1.2rem;
    }

    .debit-card {
        border-radius: 10px;
    }

    .upper-design {
        width: var(--upper-design-width);
        height: var(--upper-design-height);
    }

    .extreme-circle {
        width: calc(var(--upper-design-width) * (5/6));
        height: calc(var(--upper-design-height) * (5/6));
    }

    .middle-circle {
        width: calc(var(--upper-design-width) * (2/3));
        height: calc(var(--upper-design-height) * (2/3));
    }

    .inner-circle {
        width: calc(var(--upper-design-width) * (1/2));
        height: calc(var(--upper-design-height) * (1/2));
    }

    .card-type {
        font-size: 8px;
    }

    .card-type p {
        padding-left: 3px;
    }

    .card-logo-circle1 {
        width: 13px;
        height: 13px;
    }

    .card-logo-circle2 {
        width: 11px;
        height: 11px;
    }

    .account-balance {
        font-size: 0.6rem;
    }

    .card-holder-name {
        font-size: 0.6rem;
    }

    .card-expire-date {
        font-size: 0.6rem;
    }

    .subscription-title {
        font-size: 7px;
    }

    .subscription-list-container {
        border-radius: 30px;
    }

    .second-mobile-frame__button--power {
        width: 18px;
        height: 22px;
    }

    .second-mobile-frame__button--sound {
        width: 20px;
        height: 30px;
        border-radius: 6px;
        box-shadow: 0 30px 0 #aeaeae;
    }
}

@media (max-width: 899px) and (min-width: 750px) {
    :root {
        --upper-design-width: 70px;
        --upper-design-height: 70px;
    }

    .second-mobile-container {
        width: 130px;
        height: 205px;
    }

    .second-mobile-body {
        border-radius: 30px;
        border: 2px solid #aeaeae; /* Inner border */
        outline: 1px solid #717171;
    }

    .second-mobile-date {
        font-size: 6px;
    }

    .account-holder-info {
        font-size: 0.5rem;
    }

    .account-holder-profile img {
        width: 13px;
        height: 13px;
    }

    .second-account-title {
        font-size: 1rem;
    }

    .debit-card {
        border-radius: 8px;
    }

    .upper-design {
        width: var(--upper-design-width);
        height: var(--upper-design-height);
    }

    .extreme-circle {
        width: calc(var(--upper-design-width) * (5/6));
        height: calc(var(--upper-design-height) * (5/6));
    }

    .middle-circle {
        width: calc(var(--upper-design-width) * (2/3));
        height: calc(var(--upper-design-height) * (2/3));
    }

    .inner-circle {
        width: calc(var(--upper-design-width) * (1/2));
        height: calc(var(--upper-design-height) * (1/2));
    }

    .card-type {
        padding-left: 5px;
        font-size: 6px;
    }

    .card-type p {
        padding-left: 3px;
    }

    .card-logo-circle1 {
        width: 11px;
        height: 11px;
    }

    .card-logo-circle2 {
        width: 10px;
        height: 10px;
    }

    .account-balance {
        padding-right: 5px;
        font-size: 8px;
    }

    .card-holder-name {
        font-size: 8px;
    }

    .card-expire-date {
        font-size: 8px;
    }

    .subscription-title {
        font-size: 6px;
    }

    .subscription-list-container {
        border-radius: 30px;
    }

    .second-mobile-frame__button--power {
        width: 8px;
        height: 15px;
        left: -3px;
    }

    .second-mobile-frame__button--sound {
        width: 20px;
        height: 22px;
        border-radius: 6px;
        box-shadow: 0 22px 0 #aeaeae;
        left: -3px;
    }
}

@media (max-width: 749px) and (min-width: 601px) {
    :root {
        --upper-design-width: 55px;
        --upper-design-height: 55px;
    }

    .second-mobile-container {
        width: 104px;
        height: 162px;
    }

    .second-mobile-body {
        border-radius: 25px;
        border: 1px solid #aeaeae; /* Inner border */
        outline: 1px solid #717171;
    }

    .second-mobile-date {
        font-size: 5px;
    }

    .account-holder-info {
        font-size: 6px;
    }

    .account-holder-profile img {
        width: 10px;
        height: 10px;
    }

    .second-account-title {
        font-size: 0.8rem;
    }

    .debit-card {
        border-radius: 6px;
    }

    .upper-design {
        width: var(--upper-design-width);
        height: var(--upper-design-height);
    }

    .extreme-circle {
        width: calc(var(--upper-design-width) * (5/6));
        height: calc(var(--upper-design-height) * (5/6));
    }

    .middle-circle {
        width: calc(var(--upper-design-width) * (2/3));
        height: calc(var(--upper-design-height) * (2/3));
    }

    .inner-circle {
        width: calc(var(--upper-design-width) * (1/2));
        height: calc(var(--upper-design-height) * (1/2));
    }

    .card-type {
        padding-left: 3px;
        font-size: 5px;
    }

    .card-type p {
        padding-left: 3px;
    }

    .card-logo-circle1 {
        width: 9px;
        height: 9px;
    }

    .card-logo-circle2 {
        border: 1px solid #fff4eb;
        width: 8px;
        height: 8px;
    }

    .card-infographics img {
        margin: 0 0 0 3px;
    }

    .account-balance {
        padding-right: 3px;
        font-size: 7px;
    }

    .card-holder-name {
        padding-left: 5px;
        font-size: 7px;
    }

    .card-expire-date {
        padding-right: 5px;
        font-size: 7px;
    }

    .subscription-title {
        font-size: 5px;
    }

    .subscription-list-container {
        border-radius: 20px;
    }

    .subscription-card {
        margin: 3px auto;
    }

    .second-mobile-frame__button--power {
        width: 6px;
        height: 12px;
        left: -3px;
        border-radius: 3px;
    }

    .second-mobile-frame__button--sound {
        width: 12px;
        height: 18px;
        border-radius: 4px;
        box-shadow: 0 18px 0 #aeaeae;
        left: -3px;
    }
}

@media (max-width: 600px) and (min-width: 500px) {
    :root {
        --upper-design-width: 75px;
        --upper-design-height: 75px;
    }

    .second-mobile-container {
        width: 130px;
        height: 226px;
    }

    .second-mobile-body {
        border-radius: 25px;
        border: 1px solid #aeaeae; /* Inner border */
        outline: 1px solid #717171;
    }

    .second-mobile-date {
        font-size: 7px;
    }

    .account-holder-info {
        padding-left: 5px;
        font-size: 8px;
    }

    .account-holder-profile img {
        width: 15px;
        height: 15px;
    }

    .second-account-title {
        font-size: 1rem;
    }

    .debit-card {
        border-radius: 8px;
    }

    .upper-design {
        width: var(--upper-design-width);
        height: var(--upper-design-height);
    }

    .extreme-circle {
        width: calc(var(--upper-design-width) * (5/6));
        height: calc(var(--upper-design-height) * (5/6));
    }

    .middle-circle {
        width: calc(var(--upper-design-width) * (2/3));
        height: calc(var(--upper-design-height) * (2/3));
    }

    .inner-circle {
        width: calc(var(--upper-design-width) * (1/2));
        height: calc(var(--upper-design-height) * (1/2));
    }

    .card-type {
        padding-left: 3px;
        font-size: 7px;
    }

    .card-type p {
        padding-left: 3px;
    }

    .card-logo-circle1 {
        width: 11px;
        height: 11px;
    }

    .card-logo-circle2 {
        border: 1px solid #fff4eb;
        width: 10px;
        height: 10px;
    }

    .card-infographics img {
        margin: 0 0 0 3px;
    }

    .account-balance {
        padding-right: 3px;
        font-size: 8px;
    }

    .card-holder-name {
        padding-left: 5px;
        font-size: 8px;
    }

    .card-expire-date {
        padding-right: 5px;
        font-size: 8px;
    }

    .subscription-title {
        font-size: 6px;
    }

    .subscription-list-container {
        border-radius: 25px;
    }

    .subscription-card {
        margin: 5px auto;
    }

    .second-mobile-frame__button--power {
        width: 6px;
        height: 15px;
        left: -3px;
        border-radius: 3px;
    }

    .second-mobile-frame__button--sound {
        width: 12px;
        height: 22px;
        border-radius: 4px;
        box-shadow: 0 22px 0 #aeaeae;
        left: -3px;
    }
}

@media (max-width: 499px) and (min-width: 400px) {
    :root {
        --upper-design-width: 75px;
        --upper-design-height: 75px;
    }

    .second-mobile-container {
        width: 130px;
        height: 226px;
    }

    .second-mobile-body {
        border-radius: 25px;
        border: 1px solid #aeaeae; /* Inner border */
        outline: 1px solid #717171;
    }

    .second-mobile-date {
        font-size: 7px;
    }

    .account-holder-info {
        padding-left: 5px;
        font-size: 8px;
    }

    .account-holder-profile img {
        width: 15px;
        height: 15px;
    }

    .second-account-title {
        font-size: 1rem;
    }

    .debit-card {
        border-radius: 8px;
    }

    .upper-design {
        width: var(--upper-design-width);
        height: var(--upper-design-height);
    }

    .extreme-circle {
        width: calc(var(--upper-design-width) * (5/6));
        height: calc(var(--upper-design-height) * (5/6));
    }

    .middle-circle {
        width: calc(var(--upper-design-width) * (2/3));
        height: calc(var(--upper-design-height) * (2/3));
    }

    .inner-circle {
        width: calc(var(--upper-design-width) * (1/2));
        height: calc(var(--upper-design-height) * (1/2));
    }

    .card-type {
        padding-left: 3px;
        font-size: 7px;
    }

    .card-type p {
        padding-left: 3px;
    }

    .card-logo-circle1 {
        width: 11px;
        height: 11px;
    }

    .card-logo-circle2 {
        border: 1px solid #fff4eb;
        width: 10px;
        height: 10px;
    }

    .card-infographics img {
        margin: 0 0 0 3px;
    }

    .account-balance {
        padding-right: 3px;
        font-size: 8px;
    }

    .card-holder-name {
        padding-left: 5px;
        font-size: 8px;
    }

    .card-expire-date {
        padding-right: 5px;
        font-size: 8px;
    }

    .subscription-title {
        font-size: 6px;
    }

    .subscription-list-container {
        border-radius: 25px;
    }

    .subscription-card {
        margin: 5px auto;
    }

    .second-mobile-frame__button--power {
        width: 6px;
        height: 15px;
        left: -3px;
        border-radius: 3px;
    }

    .second-mobile-frame__button--sound {
        width: 12px;
        height: 22px;
        border-radius: 4px;
        box-shadow: 0 22px 0 #aeaeae;
        left: -3px;
    }
}

@media (max-width: 399px) and (min-width: 300px) {
    :root {
        --upper-design-width: 75px;
        --upper-design-height: 75px;
    }

    .second-mobile-container {
        width: 117px;
        height: 205px;
    }

    .second-mobile-body {
        border-radius: 25px;
        border: 1px solid #aeaeae; /* Inner border */
        outline: 1px solid #717171;
    }

    .second-mobile-date {
        font-size: 6px;
    }

    .account-holder-info {
        padding-left: 5px;
        font-size: 8px;
    }

    .account-holder-profile img {
        width: 15px;
        height: 15px;
    }

    .second-account-title {
        font-size: 1rem;
    }

    .debit-card {
        border-radius: 8px;
    }

    .upper-design {
        width: var(--upper-design-width);
        height: var(--upper-design-height);
    }

    .extreme-circle {
        width: calc(var(--upper-design-width) * (5/6));
        height: calc(var(--upper-design-height) * (5/6));
    }

    .middle-circle {
        width: calc(var(--upper-design-width) * (2/3));
        height: calc(var(--upper-design-height) * (2/3));
    }

    .inner-circle {
        width: calc(var(--upper-design-width) * (1/2));
        height: calc(var(--upper-design-height) * (1/2));
    }

    .card-type {
        padding-left: 3px;
        font-size: 7px;
    }

    .card-type p {
        padding-left: 3px;
    }

    .card-logo-circle1 {
        width: 11px;
        height: 11px;
    }

    .card-logo-circle2 {
        border: 1px solid #fff4eb;
        width: 10px;
        height: 10px;
    }

    .card-infographics img {
        margin: 0 0 0 3px;
    }

    .account-balance {
        padding-right: 3px;
        font-size: 8px;
    }

    .card-holder-name {
        padding-left: 5px;
        font-size: 8px;
    }

    .card-expire-date {
        padding-right: 5px;
        font-size: 8px;
    }

    .subscription-title {
        font-size: 6px;
    }

    .subscription-list-container {
        border-radius: 20px;
    }

    .subscription-card {
        margin: 5px auto;
    }

    .second-mobile-frame__button--power {
        width: 6px;
        height: 15px;
        left: -3px;
        border-radius: 3px;
    }

    .second-mobile-frame__button--sound {
        width: 12px;
        height: 22px;
        border-radius: 4px;
        box-shadow: 0 22px 0 #aeaeae;
        left: -3px;
    }
}